<div class="">
    <div class="participateInfoBlock" id="participateInfoBlock">
        <div class="infoStatusBar"></div>
        <div class="labelArea">
            <label id="registerCompetitionLabel" class="regApprovLabel">You must be logged in before you can register </label>
            <label id="rejectionReasonLabel" class="regApprovLabel noBold" ></label>
            <input id="CompetitionId" type="hidden" value="15" />
            <div class="container" id="registerOptionContainer">
                <div class="containerSpace">
                    <p>To participate in this competition, you must accept its specific terms and conditions.
                     After you register, the competition organizer will review your application and notify you
                     when your participation is approved.
                 </p>
             </div>
             <div class="chkRegisterContainer">
                <input id="chkRegister" type="checkbox" />
                <span>I accept the  <a id="termsAndConditions"> terms and conditions </a> of the competition</span>
            </div>

            <div class="containerSpace">
                <div class="globalBlueButtonAtag lFloat">
                    <a class="registerCompetition" id="registerCompetition"></a>
                    <div class="buttonPreloader"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block js %}
$(document).ready(function () {
    var CompetitionDetails = new Competition.CompetitionDetails();
    CompetitionDetails.checkRegisterStatus();
    $("#termsAndConditions").click(function () { CompetitionDetails.redirectToCompetitionRules(); });
});
{% endblock js %}