{% load codalab_tags %}
<meta charset="UTF-8">
<canvas id="chart" width="400" height="200"></canvas>
<script>
    var ctx = document.getElementById("chart");
    var local_highscore = 0
    var chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for day in graph.days %}"{{ day }}",{% endfor %}],
            datasets: [
                {
                    type: 'line',
                    label: '当日最高分',
                    yAxisID: 'score',
                    data: [{% for high_score in graph.high_scores %}{{ high_score|floatformat }}, {% endfor %}],
                    borderColor: 'rgba(255, 99, 132, 1)',
                    backgroundColor: 'rgba(255, 255, 255, 0.0)'
                },
                {
                    type: 'bar',
                    label: '每日提交次数',
                    yAxisID: 'count',
                    data: [{% for count in graph.counts %}{{ count }}, {% endfor %}]
                }
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    id: "count",
                    position: "left",
                    scaleLabel: {
                        display: true,
                        labelString: '提交次数'
                    },
                    ticks: {
                        beginAtZero: true,
                        min: 0,
                        suggestedMax: 25
                    }
                }, {
                    id: "score",
                    position: "right",
                    scaleLabel: {
                        display: true,
                        labelString: '提交得分',
                        fontColor: 'rgba(255,99,132,1)',
                    },
                    ticks: {
                        beginAtZero: true,
                        suggestedMin: -0.1,
                        suggestedMax:3,
                        // Reverse the score axis if we're doing descending (1 is better than 0)
                        // reverse: "{{ graph.sorting }}" !== "desc"
                    }
                }]
                
            }
        }
    });
</script>