        <form method="POST" id="comp_publish_form">{% csrf_token %}
         <input type="hidden"  name="competition" value="{{ competition.pk }}"/>
         <div class="CompetitionTypeDetailrow makePublicContainer">
          <div>
           <input id="Public" class="check-box" type="checkbox" value="true" name="Public" data-val-required="The Public field is required." data-val="true"/>
           <input type="hidden" value="false" name="Public"/>
           <label class="publicLabel" for="Public">competition is public</label>
           <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="Public"></span>
         </div>
       </div>
       <div id="publishNotoficationdiv" class="competitionTileNoRecord">
        <p>You have some unpublished changes. Click the Publish Changes button to make the changes visible to everyone.</p>
      </div>
      <div class="CompetitionTypeDetailrow makePublicContainer">
        <div>
          {% if object.public and object.has_edits %}
          <a id="btnPublish" class="small button">Publish Changes</a>
          {% else %}

          <a id="btnPublish" class="small button disabledStatus">Publish Changes</a>
          {% endif %}
          <a class="helpLinkIcon publishHelp" href="{% url 'help_create_competition' %}#publish" title="Get help with creating a competition" target="_blank"></a>
        </div>
      </form>