<fieldset>
  <legend>Phase 1</legend>
  <div class="large-12 columns">
    <input type="hidden" name="phase-1" value="{{competition.phases.0.pk}}" id="ph1Id" />
    <div>
      <label class="">Phase Title</label>
      <input type="text" class="inputTxt phaseTitle" id="ph1title" placeholder="Phase Title" />
    </div>
    <div class="large-6 columns">
      <div>
        <label>Start date</label>
        <input type="text" class="inputTxt" id="ph1StartDate"  readonly="true"/>
      </div>
      <div>
        <label>Upload score and dataset manifest file</label>
        <a class="button" id="uploadManifestph1">Upload</a>
        <span class="preloaderInputImg" id="imageProcessph1" style="display: none;"></span>
        <label class="errorLabel" id="errorLabelPh1"></label>
      </div>
    </div>
    <div class="large-6 columns">
      <div>
        <label>Maximum Number of Submission</label>
        <span>
          <input type="text" class="inputSubmissionLmt" id="ph1SubmissionLmt" value="100" />
          <label class="txtBoxLabel">* 1 - 100</label>
        </span>
      </div>
      <div id="ph1dataset"><label>Downloadable datasets</label>
      </div>
      <div id="ph1datasetimg">
        <div class="expCollDatasetExp"></div>
      </div>
    </div>
  </div>
</fieldset>