{% load staticfiles %}
{% if not competitions %}
<p>There are no competitions.</p>
{% else %}
{% for item in competitions %}
   <div class="competitionTile">
        <article class="subContainer">
            <input id="competitionID" type="hidden" value="{{ item.id }}" />
            <div class="competitionTileLftStrip"></div>
            <div class="articleImageContainer">
                <div class="subContainerPadding">
                    <figure class="articleImage">
		      <img src="{{ item.image_url }}" width="115" height="90">
                    </figure>
                </div>
            </div>
            <div class="articleTextArea">
                <div class="subContainerPadding">
                    <div class="articleHeadingContainer">
                        <h3>{{ item.title }}</h3>
                        <label>{{ item.creator }}</label></div>
                    <p>{{ item.description }}</p>
                </div>
            </div>
             {% comment %}<div class="CompetitionDetail">
                <div class="CompetitionDetailBox">
                    <div class="CompetitionDetailTbl">
                        <label>deadline:</label>
                        <label>10-10-10</label>
                    </div>
                    <div class="CompetitionDetailTbl">
                        <label>rewards:</label>
                        <label>information</label>
                    </div>
                    <div class="CompetitionDetailTbl">
                        <label>applicants:</label>
                        <label>2,002</label>
                    </div>
                </div>
            </div>{% endcomment %}
        </article>
    </div>                
{% endfor %}
{% endif %}
