<div class="row">
    <div class="col-sm-3">
        <ul class="nav nav-sidenav innertabs">
            {% for content in contents %}
                <li class="{% if forloop.first %}active{% endif %}"><a href="#{{tab.codename|slugify}}-{{content.codename|slugify}}" data-toggle="tab">{{content.label}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-9">
        <div class="tab-content sidenav">
            {% for content in contents %}
                <div class="tab-pane{% if forloop.first %} active{% endif %}" id="{{tab.codename|slugify}}-{{content.codename|slugify}}">
                    {% if content.codename == "submit_results" %}
                        {% include "web/competitions/_submit_results.html" with competition=competition user=user %}
                    {% else %}
                        {{content.html|safe}}
                        {% if content.codename == "get_data" %}
                            <!-- Include data for each phase if appropriate -->
                            <ul>
                                {% for phase in competition.phases.all %}
                                    {% if phase.datasets.count > 0 %}
                                        {% if phase.is_active or phase.is_past %}
                                            <li>{{ phase.label }}:
                                                <ul>
                                                    {% for dataset in phase.datasets.all %}
                                                        <li><a href="{{ dataset.datafile.source_url }}">{{dataset.datafile.name}}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>