<div class="competition-summary">
	<div class="large-12 columns">
		<div class="large-1 competition-label columns">
			<img src="{{ STATIC_URL }}foundation/img/challenge-small.png"></img>
		</div>
		<div class="large-2 competition-image columns">
			<img src="/media/logos/brats.jpg"></img>
		</div>
		<div class="large-9 competition-info columns">
			<div class="row">
				<div class="large-8 competition-title columns">
					{{ competition.title }}
				</div>
				<div class="large-4 columns competition-owner right">
					by {{ competition.end_date }}
				</div>
			</div>
			<div class="row">
				<div class="large-12 competition-description columns">
					{{ competition.description }}
				</div>
			</div>
		</div>
	</div>
</div>