{% extends 'web/base.html' %}
{% load staticfiles %}
{% block title %}Competition - [{{ object.title }}]{% endblock %}
{% block extra_head %}
<script src="{% static "site/js/FileUpload.js" %}"></script>
<script src="{% static "site/js/CompetitionDetailsTs.js" %}"></script>
{% endblock %}
{% block body %}
<div class="mainContainer">
<div class="CompetitionsDetailContainer">
    <section class="competitionsDetailHeader">
        <figure class="competitionsProfileImage">
	 {% if object.image_url %}
               <img id="imgProfileImage" src="{{ object.image_url }}" width="133" height="94">
	 {% else %}
  	       <img id="imgProfileImage" src="{% static "site/Images/ProfileImageDummy.jpg" %}" width="133" height="94">
	 {% endif %}
        </figure>
        <div class="competitionsHeaderTitle">
            <div class="container">
                <h2>{{ object.title }}</h2>
                <label id="lblLastModifiedDate"> -- by {{ object.creator }} -- Last Modified: {{ object.last_modified }} </label>
                    
                <input id="submissionId" name="submissionId"  type="hidden" />
                <input id="activePhase" name="activePhase"  type="hidden" />
                <input id="selctedPhaseButton" name="selctedPhaseButton"  type="hidden" />
                <input id="selectedRank" name="selectedRank"  type="hidden"  value="1"/>

            </div>
            <div class="StatusStripContainer">
                <div class="challStatusStripTxt">
                    <div class="dataStatusHolder">

                        <span></span>
                    </div>
                  
                </div>
                <div class="challStatusStrip">
                    <div class="challStatusStripLevel">
                    </div>
                    <section class="challStatusStripSection">
                    </section>
                </div>
            </div>
        </div>
    </section>
    <section class="competitionsDetailTabArea">

        <ul class="competitionsDetailTabTop">
            <li class="tab1 active">Learn the details</li>
            <li class="tab2" id="tabA">Participate</li>
            <li class="tab3">See the results</li>
        </ul>
        <ul class="competitionsDetailTabBlock">
            <li class="tab1">
                <div class="competitionsDetailTab">

                    <div class="CompetitionsDetailLft">
                        <nav>
                            <ul class="CompetitionsDetailLftUl" id="CompetitionsDetailLftLtd">
                            </ul>
                        </nav>
                    </div>
                    <div class="CompetitionsDetailRit">
                        <div id="subContainerBlock">
                        </div>
                        <div class="preloader"></div>
                    </div>
                </div>
            </li>
            <li class="tab2">
                <section class="phaseToggleBtnContainer" id="phaseToggleBtnContainerSubmitPage">
                </section>
                <div class="">
                    <div class="participateInfoBlock" id="participateInfoBlock">
                        <div class="infoStatusBar"></div>
                        <div class="labelArea">
                            <label id="registerCompetitionLabel" class="regApprovLabel">
			     {% if not user.is_authenticated %}
			     You must be logged in before you can register
			     {% elif not participation %}
			     You have not yet registered for this competition
			     {% elif participation.status.codename == 'pending' %}
			     Your registration is pending approval
			     {% elif participation.status.codename == 'rejected' %}
			     Your registration has been rejected.
			     {% endif %}
			    </label>
                            <label id="rejectionReasonLabel" class="regApprovLabel noBold" ></label>
                            <input id="CompetitionId" type="hidden" value="{{ object.pk }}" />
			    {% if user.is_authenticated %}
                           

                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        var CompetitionDetails = new Competition.CompetitionDetails();
                                        CompetitionDetails.checkRegisterStatus();
                                        $("#termsAndConditions").click(function () { CompetitionDetails.redirectToCompetitionRules(); });
                                    });
                                    </script>

                                <div class="container" id="registerOptionContainer">
                                    <div class="containerSpace">
                                        <p>To participate in this competition, you must accept its specific terms and conditions.
                                           After you register, the competition organizer will review your application and notify you
                                           when your participation is approved.
                                        </p>
                                    </div>
                                    <div class="chkRegisterContainer">
                                        <input id="chkRegister" type="checkbox" />
                                        <span>I accept the  <a id="termsAndConditions"> terms and conditions </a> of the competition</span>
                                    </div>

                                    <div class="containerSpace">
                                        <div class="globalBlueButtonAtag lFloat">
					  <a class="registerCompetition" id="registerCompetition">register</a>
					  <div class="buttonPreloader"></div>
                                        </div>
                                    </div>
                                </div>
                           {% else %}
                                <div class="globalBlueButtonAtag"><a href="{% url 'account_login' %}">Login</a>  <a href="{% url 'account_signup' %}">Register</a></div>
                            {% endif %}
                        </div>

                    </div>
                    <div class="competitionsDetailTab" id="tabParticipantContainer" style="display: none;">

                        <div class="CompetitionsDetailLft">
                            <nav>
                                <ul class="CompetitionsDetailLftUl" id="CompetitionsDetailLftParticipate">
                            </ul>
                            </nav>
                           {# @Html.ActionLink("Help: Create a Competition", "../Help/CreateCompetition") #}
                        </div>
                        <div class="CompetitionsDetailRit">
                            <div id="subContainerBlockForParticipate"></div>
                            <div class="preloader" style="display: none;"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="tab3">
                <section class="phaseToggleBtnContainer" id="phaseToggleBtnContainerResultpage">
                </section>
                <div class="">
                    <div class="seeTheResults">
                        <table class="prevResultSubmission" id="seeTheResults">  
                           
                        </table>
                    </div>

                </div>
            </li>
        </ul>
    </section>
</div></div>
{% endblock %}
