{% extends 'base.html' %}
{% load staticfiles %}
{% load compress %}

{% block title %}Edit{% endblock %}

{% block extra_head %}
{% compress js %}
    <!-- <script src="{{ STATIC_URL }}site/js/FileUpload.js"></script>
    <script src="{{ STATIC_URL }}site/js/CreateCompetition.js"></script -->>
      {% endcompress %}
      {% endblock extra_head %}

      {% block content %}
      <div class="row">
        <div class="large-12 columns">
          <a class="helpLinkIcon right" href="{% url 'help_create_competition' %}#phases" title="Get help with creating a competition" target="_blank"></a>
        </div>
      </div>

      <div class="row">
        <div class="content" data-slug="#overview" data-section-content>
          <form data-abide method="POST" id="comp_info_form">
            {% csrf_token %}
            <input type="hidden"  name="competition" value="{{ competition.pk }}"/>
            <div class="CompetitionTypeDetailrowDate detailsUpload">
              <div class="row">
                <div class="large-2 columns thumbnailContainer">
                  <figure class="competitionsProfileImage">
                    {% if competition.image %}
                    <img id="imgProfileImage" src="{{ competition.image.url }}" width="133" height="94">
                    {% else %}
                    <img id="imgProfileImage" src="{% static "img/ProfileImageDummy.jpg" %}" width="133" height="94">
                    {% endif %}
                  </figure>
                  <div>
                    <input id="UploadReason" value ="1" type="hidden" />
                    <label class="uploadLabel">Change thumbnail</label>
                    <input class="uploadImage" type="file" id="uploadLogo" name="uploadLogo">
                    <span id="imageProcess" class="preloaderInputImg"></span>
                  </div>
                </div>
                <div class="large-10 columns">
                  <div class="input-wrapper">
                    <input id="title" class="text-box single-line" type="text" value="{{ competition.title }}"  placeholder="Competition Name" required />
                    <small class="error">A valid competition title is required.</small>
                  </div>
                  <div class="input-wrapper">
                    <input id="end_date" type="text" placeholder="Never" class="inputTxt"  required />
                    <small class="error">A valid competition end date is required.</small>
                  </div>
                  <textarea class="Description" id="description" name="description" >{{ competition.description|default:"Competition Description." }}</textarea>
                  <textarea class="Description" id="overview" name="overview" >{{ competition.overview|default:"Competition Overview." }}</textarea>
                  <textarea class="Description" id="evaluation" name="evaluation" >{{ competition.evaluation|default:"Competition Evaluation Criteria." }}</textarea>
                  <textarea class="Description" id="terms" name="terms" >{{ competition.terms|default:"Competition Terms and Conditions." }}</textarea>
                  <div class="input-wrapper">
                     <label for="has_registration">
                      <input type="checkbox" id="has_registration"><span class="custom checkbox"></span> Require Registration
                    </label>
                  </div>
                </div>
              </div>
              <div class="phases">
                <div class="phase_1 row">
                  <div class="large-2 columns">
                    <a href="#">Add Phase</a>
                  </div>
                  <div class="large-10 columns">
                    {% include "web/competitions/_edit_phase_partial.html" %}
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <form method="POST" id="comp_save_form">
        <div class="saveContainer">
          <div class="saveBtnHolder">
            <div class="saveBtnHolderColm">
              <input id="btnSave" type="submit" value="Save" class="commonBlueButton" />
            </div>
          </div>
        </div>
      </form>
      {% endblock content %}

      {% block js %}

      $('document').ready(function() {
      // This helps make sections appear with Foundation
      $(this).foundation('section', 'reflow');
    });

    {% endblock js %}