{% extends 'base.html' %}
{% load staticfiles %}
{% load codalab %}

{% block head_title %}Edit Competition{% endblock head_title %}
{% block page_title %}Edit Competition{% endblock page_title %}

{% block extra_head %}
	  <script src="{{ STATIC_URL }}site/js/FileUpload.js"></script>
{% endblock extra_head %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
	<a class="helpLinkIcon right" href="{% url 'help' %}#phases" title="Get help with creating a competition" target="_blank"></a>
  </div>
</div>

<div class="row">
  <div id="edit_competition" class="content" data-slug="#overview" data-section-content>
	<form data-abide enctype="multipart/form-data" method="POST">{% csrf_token %}
		<fieldset>
		<legend>General Information</legend>
		{% for field in form %}
			<div class="fieldWrapper">
				<div class="row">
					{{ field.errors }}
					<div class="large-3 columns">
						<label for="{{field.id_for_label}}" class="inline">{{field.label}}{{form.label_suffix}}</label>
					</div>
					<div class="large-9 columns">
						{{ field }}
					</div>
				</div>
			</div>
		{% endfor %}
		</fieldset>

		<ul id="pages">
		{{ Pages.management_form }}
        {{ Pages.non_form_errors }}
        <li class="empty-page-form">
			<fieldset class="page">
				<legend>
					Competition Web Page
				</legend>
				{% for field in Pages.empty_form %}
					<div class="fieldWrapper">
						<div class="row">
							{{ field.errors }}
							<div class="large-3 columns">
								{% if not field.is_hidden %}
									<label for="{{field.id_for_label}}" class="inline">{{field.label}}{{field.label_suffix}}</label>
								{% endif %}
							</div>
							<div class="large-9 columns">
								{{ field }}
							</div>
						</div>
					</div>
				{% endfor %}                
			</fieldset> 
        </li>
		{% for page in Pages %}
           <li>
			<fieldset class="page">
				<legend>
					Web Page
				</legend>
				{% for field in page %}
					<div class="fieldWrapper">
						<div class="row">
							{{ field.errors }}
							<div class="large-3 columns">
								{% if not field.is_hidden %}
									<label for="{{field.id_for_label}}" class="inline">{{field.label}}{{field.label_suffix}}</label>
								{% endif %}
							</div>
							<div class="large-9 columns">
								{{ field }}
							</div>
						</div>
					</div>
				{% endfor %}                
			</fieldset>
          </li>
		{% endfor %}
		</ul>

        <div class="row">
            <div class="large-12 columns">
                <button type="button" class="medium blue button add-page right">Add Page</button>
            </div>
        </div>

        <ul id="phases">
            {{ Phases.management_form }}
            {{ Phases.non_form_errors }}
            <li class="empty-phase-form">
                 <fieldset class="phase">
				    <legend>Phase</legend>
				    {% for field in Phases.empty_form %}
					    <div class="fieldWrapper">
						    <div class="row">
							    {{ field.errors }}
							    <div class="large-3 columns">
								    {% if not field.is_hidden %}
									    <label for="{{field.id_for_label}}" class="inline">{{field.label}}{{field.label_suffix}}</label>
								    {% endif %}
							    </div>
							    <div class="large-9 columns">
								    {{ field }}
							    </div>
						    </div>
					    </div>
				    {% endfor %}                
			    </fieldset> 			            
            </li>
            {% for form in Phases %}
                <li>
			        <fieldset class="phase">
				        <legend>Competition Phase</legend>
				        {% for field in form %}
					        <div class="fieldWrapper">
						        <div class="row">
							        {{ field.errors }}
							            <div class="large-3 columns">
								            {% if not field.is_hidden %}
									            <label for="{{field.id_for_label}}" class="inline">{{field.label}}{{field.label_suffix}}</label>
								            {% endif %}
							            </div>
							            <div class="large-9 columns">{{ field }}</div>
						        </div>
					        </div>
				        {% endfor %}                
			        </fieldset> 
                </li>
            {% endfor %}
        </ul>
        <div class="row">
            <div class="large-12 columns">
                <button type="button" class="medium blue button add-phase right">Add Phase</button>
            </div>
        </div>  
		<div class="row">
		  <div class="large-12 columns">
			<button type="submit" class="medium button blue">Submit</button>
		  </div>
		  <div class="spacer500">&nbsp;</div>
		</div>
  </form>
</div>
</div>
{% endblock content %}

{% block jsincludes %}
    <script src="{{ STATIC_URL }}js/vendor/django-formset.js"></script>
{% endblock jsincludes %}

{% block js %}
  $('document').ready(function() {
	// This helps make sections appear with Foundation
	$(this).foundation('section', 'reflow');
    
    $('#pages').children('.empty-page-form').hide();
    pages = $('#pages').children('li').djangoFormset({
        formTemplateClass: 'empty-page-form'
    });

    $('.add-page').click(function() {
        form = pages.addForm();
        form.elem.toggle();
        wlp = window.location.pathname.split("/");
        comp_id = wlp[wlp.length-1];
        form.elem.find('[name$=container]').val(comp_id);
    });
    
    // Dynamic adding/removing of phases
    $('#phases').children('.empty-phase-form').hide();
    phases = $('#phases').children('li').djangoFormset({
        formTemplateClass: 'empty-phase-form'
    });

    $('.add-phase').click(function() {
        form = phases.addForm();
        form.elem.toggle();
        form.elem.find('[name$=phasenumber]')[0].value = form.index;
    });
  });

  $(document).on('focus',"input[name*='_date']", function(){
    $(this).datepicker({showAnim: "slideDown"});
  });
{% endblock js %}