{% extends "base.html" %}
{% block extra_scripts %}
    <script src="{{ STATIC_URL }}js/vendor/readmore.min.js"></script>

    <script src="{{ STATIC_URL }}js/vendor/jquery.tablesorter.min.js"></script>

    <style>
    #public_submission_table th b {
        cursor: pointer;
    }
    </style>
{% endblock %}

{% block page_title %}Public Submissions{% endblock page_title %}

{% block content %}
<input type="hidden" id="competitionId" value="{{competition.id}}" />
    <div class="tab-pane" id="public_submissions">
        <div class="tab-inner">
                {%include "web/competitions/_public_submissions_phases.html"%}
        </div>
    </div>
{% endblock %}

{% block jsincludes %}
<script>
$(function(){
/******************************************************************
Public submissions by phases
*******************************************************************/
    $('#results_phase_submissions .btn').each(function(e,index){
        $(this).click(function(){
            $(this).addClass('selected');
            /*Getting the phase here */
            var phaseId = $.trim($(this).attr('id').replace('public_results_phase_', ''));
            $('#results_phase_submissions .btn').removeClass('selected');
            $(this).addClass('selected');
            var competitionId = $('#competitionId').val();
            var url = '/competitions/' + competitionId + '/public_submissions/' +  phaseId;

            $.ajax({
                type: 'GET',
                url: url,
                cache: false,
                success: function(data){
                    $('.public_submission_results').html('').append(data);

                },
                error: function(xhr, status, err){
                    $('.public_submission_results').html("<div class='alert alert-error'>An error occurred. Please try refreshing the page.</div>");
                }
            })
        });
    });
});
</script>
{% endblock %}