<html>
<body>


{% for group,data in scores.items %}
<table border="1px solid black">

 <tr>
 <th rowspan="2">User</th>
 {% for head in data.headers %}
 {% for label,subs in head.items %}
   <th {% if subs %}colspan="{{subs|length}}"{% else %}rowspan="2"{% endif %}>{{label}}</th>
 {% endfor %}
 {% endfor %}  
 </tr>
 
 <tr>
{% for head in data.headers %}
{% for label,subs in head.items %} 
 {% if subs %}
  {% for s in subs %}
 <th>{{s}}</th>
  {% endfor %}
 {% endif %}
{% endfor %}
{% endfor %}
</tr>
{% for pk,scoredata in data.scores.items %}
<tr><td>{{scoredata.username}}</td>
 {% for v in scoredata.values %}
  <td>{{v.value}}</td>
  {% endfor %}
</tr>
{% endfor %}
</table>
{% endfor %}

</body>
</html>
