{% extends 'base.html' %}

{% block head_title %}Create Competition{% endblock head_title %}
{% block page_title %}<h2>Create Competition</h2>{% endblock page_title %}

{% block content %}
    <div id="create_competition" class="panel panel-default s3-panel">
        <div class="panel-body">
            <div class="row">
                <h3 class="center-block" style="width:80%;">
                    To create a competition, upload a bundle with the definition of the new competition.
                    <a href="https://github.com/codalab/codalab/wiki/User_Competition-Roadmap"
                       title="Get help with creating a competition" target="_blank">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </a>
                </h3>
            </div>

            <form id="gcs_upload_form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <button type="button" id="submit-button" class="btn btn-primary">Upload Competition Bundle</button>
                </div>
                <div class="row">
                    <div class="form-group center-block" style="width:50%; height: 10px;">
                        <input type="file" name="config_bundle">
                    </div>
                </div>

                <button>submit</button>
            </form>

            <div class="row">
                <div id="details" class="center-block" style="width: 83%; margin-top:3rem;"></div>
            </div>
        </div>
    </div>

    <script>
        var _upload_ajax = function (url, form_data, progress_update_callback) {
            return $.ajax({
                type: 'POST',
                url: url,
                data: form_data,
                processData: false,
                contentType: false,
                xhr: function (xhr) {
                    var request = new window.XMLHttpRequest();

                    // Upload progress
                    request.upload.addEventListener("progress", function (event) {
                        if (event.lengthComputable) {
                            var percent_complete = event.loaded / event.total;
                            if (progress_update_callback) {
                                progress_update_callback(percent_complete);
                            }
                        }
                    }, false);
                    return request;
                }
            })
        }

        $("#submit-button").click(function () {
            $("input[type='file']").click()
        })

        $("input[type='file']").change(function () {
            //$('#gcs_upload_form').submit()




            //_upload_ajax('/competitions/gcs_create_competition', new FormData(this), function(progress){
            //    console.log("Upload progress " + progress)
            //})
        })
    </script>
{% endblock %}
