{% extends 'base.html' %}

{% block head_title %}Create Competition{% endblock head_title %}
{% block page_title %}Create Competition{% endblock page_title %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <p>
                To create a competition, upload a bundle with the definition of the new competition.
                <a class="helpLinkIcon right" href="{% url 'help' %}#create-competition"
                   title="Get help with creating a competition" target="_blank">
                </a>
            </p>
            <button id="uploadButton" class="button">Upload definition...</button>
            {% csrf_token %}
            <div id="details">
    </div>
	</div>
  </div>

</div>
{% endblock %}

{% block js %}
$(document).ready(function () {
    CodaLab.Competitions.CreateReady();
});
{% endblock js %}
