{% extends 'base.html' %}

{% block title %}Edit{% endblock %}

{% block content %}
<div class="row">
  <form data-abide enctype="multipart/form-data" method="POST">{% csrf_token %}
	<div class="row">
	  {{ form.as_p }}
    </div>
	<div class="row">
        <button type="submit" class="medium button blue">Submit</button>
	</div>
  </form>
  </div>
</div>
{% endblock content %}

{% block js %}
  $('document').ready(function() {
	// This helps make sections appear with Foundation
	$(this).foundation('section', 'reflow');
  });
{% endblock js %}