{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}
{% load codalab_tags %}
{% load tz %}
{% block head_title %}Competition{% endblock %}
{% block page_title %}Competition{% endblock page_title %}

{% block content %}

{% if request.user.is_staff %}
    <a href="{% url "competitions:download" competition_pk=competition.pk %}" class="btn btn-primary">DOWNLOAD COMPETITION BUNDLE!</a>
{% endif %}

<div class="competition-view">
    <div class="row">
        <div class="col-sm-2">
            <div class="img-container">
                {% if competition.image_url %}
                    <img class="img-responsive" src="{{ competition.image_url }}">
                {% else %}
                    <img class="img-responsive" src="{% static "img/ProfileImageDummy.jpg" %}">
                {% endif %}
            </div>
        </div>
        <div class="col-sm-10">
            <h2>{{ competition.title }}</h2>
            {% if not competition.published %}
                <code>Secret url: <a href="{% url 'competitions:view' pk=competition.pk %}?secret_key={{ competition.secret_key }}">http://{{ site }}{% url 'competitions:view' pk=competition.pk %}?secret_key={{ competition.secret_key }}</a></code>
            {% endif %}
            <div class="organizer">Organized by {{ competition.creator }} - Current server time: {{ current_server_time|utc }} UTC</div>
            <input type="hidden" id="competitionId" value="{{competition.id}}" />
            <input type="hidden" id="cstoken" value="{{csrf_token}}" />
            <div class="phase-container">
                <div class="row">
                    {% if previous_phase and active_phase %}
                        <div class="col-sm-4">
                            <div class="phase">
                                <h4>Previous</h4>
                                <span class="phase-label label phase-label-{% if previous_phase.color %}{{ previous_phase.color }}{% else %}default{% endif %}">{{previous_phase.label}}</span>
                                <div class="date">{{previous_phase.start_date|utc}} UTC</div>
                            </div>
                        </div>
                    {% endif %}

                    {% if active_phase %}
                        <div class="col-sm-4">
                            <div class="phase current">
                                <h4><span class="glyphicon glyphicon-play"></span> Current</h4>
                                <span class="phase-label label phase-label-{% if active_phase.color %}{{ active_phase.color }}{% else %}default{% endif %}">{{active_phase.label}}</span>
                                <div class="date">{{active_phase.start_date|utc}} UTC</div>
                            </div>
                        </div>
                    {% endif %}

                    {# If we haven't begun the competition yet, show the first phase #}
                    {% if not active_phase %}
                        <div class="col-sm-4">
                            <div class="phase">
                                <h4>First phase</h4>
                                <span class="phase-label label phase-label-{% if first_phase.color %}{{ first_phase.color }}{% else %}default{% endif %}">{{first_phase.label}}</span>
                                <div class="date">{{first_phase.start_date|utc}} UTC</div>
                            </div>
                        </div>
                    {% endif %}

                    {% if next_phase %}
                        <div class="col-sm-4">
                            <div class="phase">
                                <h4>Next</h4>
                                <span class="phase-label label phase-label-{% if next_phase.color %}{{ next_phase.color }}{% else %}default{% endif %}">{{next_phase.label}}</span>
                                <div class="date">{{next_phase.start_date|utc}} UTC</div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-sm-4">
                            <div class="phase">
                                <h4>End</h4>
                                <span class="phase-label label competition-end">Competition Ends</span>
                                <div class="date">{% if competition.end_date %}{{competition.end_date|utc}} UTC{% else %}Never{% endif %}</div>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <section class="competition-tabs">
        <ul class="nav nav-tabs" id="competition_tab_nav">
            {% for tab, contents in tabs.items %}
                {% if tab.codename == "participate" %}
                    {# Put this before participate tab #}
                    <li><a href="#phases" role="tab" data-toggle="tab">Phases</a></li>
                {% endif %}
                <li><a href="#{{tab.codename|slugify}}" role="tab" data-toggle="tab">{{tab.name}}</a></li>
                {% if tab.codename == "results" %}
                    {# Put this after results tab #}
                    {% if competition.allow_public_submissions %}
                    <li><a href="#public_submissions" role="tab" data-toggle="tab">Public submissions</a></li>
                    {% endif %}
                    {% if competition.enable_forum %}
                    <li><a href="{% url 'forum_detail' forum_pk=competition.forum.pk %}">Forums <i class="glyphicon glyphicon-log-in"></i></a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for tab, contents in tabs.items %}
                {# Let's insert the "phases" tab just before participate #}
                {% if tab.codename == "participate" %}
                    <div class="tab-pane" id="phases">
                        <div class="tab-inner">
                            <div class="phase-list">
                                {% for phase in competition.phases.all %}
                                    <div class="phase-list-item panel phase-list-item-{% if phase.color %}{{ phase.color }}{% else %}default{% endif %}">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">{{ phase.label }}</h3>
                                        </div>
                                        <div class="panel-body">
                                            <p><strong>Start:</strong> {{ phase.start_date }}</p>
                                            {% if phase.description %}
                                                <p><strong>Description:</strong> {{ phase.description }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="tab-pane" id="{{ tab.codename|slugify }}">
                    <div class="tab-inner">
                        {% if tab.codename == "participate" %}
                            {% if not user.is_authenticated %}
                                <p>You must be logged in to participate in competitions.</p>
                                <a href="{% url 'account_login' %}?next=/competitions/{{ competition.id }}%23participate-get-data" class="btn btn-primary">Sign In</a>
                            {% else %}
                                {% if my_status == "unknown" %}
                                    <form id="participate_form">
                                        {% csrf_token %}
                                        <p>You have not yet registered for this competition.</p>
                                        <p>To participate in this competition, you must accept its specific terms and conditions. After you register, the competition organizer will review your application and notify you when your participation is approved.</p>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="agreed_terms" id="checkbox" required onclick="Competition.registationCanProceed();">
                                                I accept the <a href="#learn_the_details-terms_and_conditions">terms and conditions</a> of the competition.
                                            </label>
                                        </div>
                                        <input type="submit" id="participateButton" class="disabledStatus btn btn-primary margin-top" value="Register" />
                                    </form>
                                {% elif my_status == "pending" %}
                                    <p>Your request to participate in this challenge has been received and a decision is pending.</p>
                                {% elif my_status == "denied" %}
                                    <p>Your request to participate in this competition was denied or your privileges have been suspended.</p>
                                    {% if my_participant.reason %}
                                        <p>Reason: {{my_participant.reason}}</p>
                                    {% endif %}
                                {% endif %}
                                {% if my_status == "approved" %}
                                    {% include "web/competitions/_innertabs.html" %}
                                {% endif %}
                            {% endif %}
                        {% elif tab.codename == 'results' %}
                            {% include "web/competitions/_results.html"%}
                        {% else %}
                            {% include "web/competitions/_innertabs.html" %}
                        {% endif %}
                    </div>
                </div>
                <div class="tab-pane" id="public_submissions">
                    <div class="tab-inner">
                        {% if not public_submissions %}
                            <i>No submissions have been made public!</i>
                        {% else %}
                            <h3>Filters</h3>
                            <p><input type="checkbox" id="public_submission_filter_only_leaderboard"> Only show results currently on leaderboard</p>

                            <table id="public_submission_table" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <td width="40"><b>#</b></td>
                                        <td width="125"><b>User</b></td>
                                        <td width="125"><b>Date</b></td>
                                        <td><b>Description</b></td>
                                        <td width="200">Likes</td>
                                        <td width="250"><b>Downloads</b></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for submission in public_submissions %}
                                    <tr data-on-leaderboard="{% if submission.leaderboard_entry_result.count %}true{% endif %}">
                                        <td>{{ forloop.counter }}</td>
                                        <td><b>{{ submission.participant.user.username }}</b></td>
                                        <td>{{ submission.submitted_at|date:"M d Y" }}</td>
                                        <td>{{ submission.description|default_if_none:""|escape }}</td>
                                        <td>
                                            <i class="glyphicon glyphicon-thumbs-up like {% if submission.already_liked %}already-liked{% endif %}"
                                               submission-pk="{{ submission.pk }}"
                                               original-count="{{ submission.get_overall_like_count|default:0 }}"></i>
                                            <i class="glyphicon glyphicon-thumbs-down dislike {% if submission.already_disliked %}already-disliked{% endif %}"
                                               submission-pk="{{ submission.pk }}"
                                               original-count="{{ submission.get_overall_like_count|default:0 }}"></i>
                                            <span style="margin-top: 20px;">
                                                <span class="like-count">{{ submission.get_overall_like_count|default:0 }}</span>
                                                likes
                                            </span>
                                        </td>
                                        <td>
                                            <button class="view_download_btn btn btn-default"
                                                    data-submission-id="{{ submission.pk }}"
                                                    data-toggle="modal"
                                                    data-target="#public-submission-modal"
                                                    data-download-count="{{ submission.download_count|default:0 }}">
                                                View downloads
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</div>

<div class="modal fade" id="public-submission-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Submission details</h4>
            </div>
            <div class="modal-body">
                <ul class="download-list list-unstyled">
                    {# "1" in these urls gets replaced with the proper ID #}
                    <li><a href="/my/competition/submission/1/input.zip">Download submission</a></li>
                    {% if not submission.phase.is_scoring_only %}
                        <li><a href="/my/competition/submission/1/predict_stdout.txt" target="_blank">View predict output log</a></li>
                        <li><a href="/my/competition/submission/1/predict_stderr.txt" target="_blank">View predict error log</a></li>
                        <li><a href="/my/competition/submission/1/prediction-output.zip">Download evaluation output from prediction step</a></li>
                    {% endif %}
                    <li><a href="/my/competition/submission/1/stdout.txt" target="_blank">View scoring output log</a></li>
                    <li><a href="/my/competition/submission/1/stderr.txt" target="_blank">View scoring error log</a></li>
                    {% if submission.phase.competition.enable_detailed_results %}
                        <li><a href="/my/competition/submission/1/detailed_results" target="_blank">View detailed results</a></li>
                    {% endif %}
                    <li><a href="/my/competition/submission/1/output.zip">Download evaluation output from scoring step</a></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block jsincludes %}
    <script>
        $('#view_all_phases').on('click', function(e){
            $('#competition_tab_nav a[href="#phases"]').tab('show');
        });
        $(function(){
            var show_location = function(hash) {
                var main_tab = hash.split('-')[0];
                var sub_tab = hash.split('-')[1];

                $('#competition_tab_nav a[href="' + main_tab + '"]').tab('show');
                $(main_tab + ' .innertabs a[href="' + main_tab + '-' + sub_tab + '"]').tab('show');
            };

            if(location.hash !== ''){
                show_location(location.hash);
            }else {
                $('#competition_tab_nav a:first').tab('show')
            }
            $('#competition_tab_nav a, .innertabs a').on('show.bs.tab', function(e){
                return location.hash = $(e.target).attr('href').substr(1);
            });
            if($('#participate-submit_results').hasClass('active')){
                $('#submissions_phase_buttons .active').click();
            } else if($('#results').hasClass('active')){
                $('#results_phase_buttons .active').click();
            };
            $('a[href="#participate-submit_results"]').on('shown.bs.tab', function(e){
                $($(e.target).attr('href') + ' .active').click();
            });
            $('a[href="#results"]').on('shown.bs.tab', function(e){
                $($(e.target).attr('href') + ' .active').click();
            });

            $('#learn_the_details .col-sm-9 a').on('click', function() {
                show_location('#' + $(this).attr('href').split('#')[1]);
            });

            /******************************************************************
            Public submissions
             *****************************************************************/
            // Thumbs up submissions
            $(".like").click(function() {
                var element = $(this);
                var already_liked = element.hasClass("already-liked");
                var url = "{% url "coopetitions:like" submission_pk="0" %}";
                var original_like_count = parseInt(element.attr('original-count'));
                if(!already_liked) {
                    element.parent().find(".like-count").text(original_like_count + 1);
                    element.addClass("already-liked");
                    element.parent().find(".dislike").removeClass("already-disliked");
                } else {
                    element.parent().find(".like-count").text(original_like_count - 1);
                    element.removeClass("already-liked");
                }

                url = url.replace(0, element.attr('submission-pk'));
                $.get(url)
                        .error(function() {
                            alert("Could not like submission, is your Internet connection working?");
                        });
            });

            $(".dislike").click(function() {
                var element = $(this);
                var already_disliked = element.hasClass("already-disliked");
                var url = "{% url "coopetitions:dislike" submission_pk="0" %}";
                var original_like_count = parseInt(element.attr('original-count'));
                if(!already_disliked) {
                    element.parent().find(".like-count").text(original_like_count - 1);
                    element.addClass("already-disliked");
                    element.parent().find(".like").removeClass("already-liked");
                } else {
                    element.parent().find(".like-count").text(original_like_count + 1);
                    element.removeClass("already-disliked");
                }
                url = url.replace(0, element.attr('submission-pk'));
                $.get(url)
                        .error(function() {
                            alert("Could not dislike submission, is your Internet connection working?");
                        });
            });

            // Handle modal to download public submissions
            $(".view_download_btn").click(function() {
                var submission_id = $(this).attr('data-submission-id');
                var download_count = $(this).attr('data-download-count');
                var regex = /\/my\/competition\/submission\/\d+\//g;
                var download_list = $('#public-submission-modal .download-list');

                // Replace download count
                $("#public-submission-modal .download_count").text(download_count);

                // Replace id in links with new submission id
                download_list.html(download_list.html().replace(regex, '/my/competition/submission/' + submission_id + '/'));
            });

            // Filter not on leaderboard
            $("#public_submission_filter_only_leaderboard").change(function() {
                if($(this).prop('checked')) {
                    $("#public_submission_table tbody tr").each(function() {
                        if(!$(this).attr('data-on-leaderboard')) {
                            $(this).hide();
                        }
                    });
                    window.localStorage.setItem('only_show_public_leaderboard_submissions', true);
                } else {
                    $("#public_submission_table tbody tr").show();
                    window.localStorage.setItem('only_show_public_leaderboard_submissions', false);
                }
            });

            var only_show_public_leaderboard_submissions = window.localStorage.getItem('only_show_public_leaderboard_submissions') == "true";
            $("#public_submission_filter_only_leaderboard").attr('checked', only_show_public_leaderboard_submissions);
            // Call change to force the change on page reload
            $("#public_submission_filter_only_leaderboard").change();
        });
    </script>
{% endblock %}
