{% extends 'base.html' %}
{% load staticfiles %}
{% load codalab_tags %}
{% load tz %}
{% load humanize %}

{#{% block head_title %}Competition{% endblock %}#}
{#{% block page_title %}Competition{% endblock page_title %}#}
{% block page_title %}
    <h2>{{ competition.title }}</h2>
{% endblock page_title %}

{% block extra_scripts %}
    <script src="{{ STATIC_URL }}js/vendor/readmore.min.js"></script>

    <script src="{{ STATIC_URL }}js/vendor/jquery.tablesorter.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/riot@3.11/riot+compiler.min.js"></script>

    <style>
        body {
            background-color: rgba(233, 233, 233, 1)
        }

        #public_submission_table th b {
            cursor: pointer;
        }

        .header-count {
            margin-left: 1% !important;
            margin-right: 1% !important;
            font-size: 16px !important;
            font-weight: bolder !important;
            font-family: "Segoe UI", "SansSerif";
        }
    </style>
{% endblock %}

{% block content %}

    {% if request.user.is_staff %}
        <a href="{% url "competitions:download" competition_pk=competition.pk %}" class="btn btn-primary">DOWNLOAD
            COMPETITION BUNDLE!</a>
    {% endif %}
    {% if is_admin_or_owner %}
        <h3>Admin features</h3>
        <a href="{% url "competitions:edit" pk=competition.pk %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'my_competition_participants' competition_id=competition.pk %}" class="btn btn-primary">
            Participants
            {% if comp_num_pending_teams > 0 %}
                <span class="glyphicon glyphicon-exclamation-sign" style="color:red"></span>
            {% endif %}
        </a>
        <a href="{% url 'my_competition_submissions' competition_id=competition.pk %}" class="btn btn-primary">Submissions</a>
        <a href="{% url 'competitions:dumps' competition_pk=competition.pk %}" class="btn btn-primary">Dumps</a>
        <hr>
    {% endif %}

    <div class="competition-view row well" style="padding: 0px; margin-bottom: 0;">
        <div align="center" style="border: 2px solid rgba(0, 0, 0, 0.1); padding: 0; background-color: rgba(233, 233, 233, 1);" class="col-sm-2">
            {#                <div class="img-container">#}
            {% if competition.image_url %}
                <img class="" style="width: 120px; height: auto; border: solid 1px #dddddd;"
                     src="{{ competition.image_url }}">
            {% else %}
                <img class="img-responsive" style="width: 168px; height: auto;"
                     src="{% static "img/ProfileImageDummy.jpg" %}">
            {% endif %}
            {#                </div>#}
        </div>
        <div align="center" style="padding: 0;" class="col-sm-10">
            <div class="row">
                {% if competition.end_date %}
                    <div style="border: 1px solid rgba(255,79,79,1); border-radius: 5px; background-color: rgba(255,79,79,1); max-width: 15vw; padding-top: 5px; padding-bottom: 5px; margin: 0; margin-top: 2vh; margin-bottom: 2vh;"
                         class="well">
                        {#                <div style="background-color: #ff4f4f" class="well">#}
                        {#                    <i style="color: white; font-size: 20px;" class="large glyphicon glyphicon-bell"></i>#}
                        <div style="color: white;" class="date">
                            {#                        {% if competition.end_date %}{{ competition.end_date|utc }} UTC{% else %}Never{% endif %}#}
                            {#                        {{ competition.end_date|timeuntil:timezone_now }}#}
                            {{ competition.end_date|timeuntil:timezone_now }}
                        </div>
                    </div>
                {% endif %}

                <input type="hidden" id="competitionId" value="{{ competition.id }}"/>
                <input type="hidden" id="cstoken" value="{{ csrf_token }}"/>

                <div style="background-color: rgba(130, 165, 195, 0.5); max-width: 60vw !important; margin-left: 0; margin-right: 0; margin-top: 5vh;"
                     class="well competition-status">
                    <ul style="" class="list-inline">
                        <li class="header-count">Server Time:{{ current_server_time|utc }} UTC</li>
                        <li class="header-count">Start:{{ competition.start_date }}</li>
                        {% if competition.end_date %}<li class="header-count">End:{{ competition.end_date }}</li>{% endif %}
                        <li class="header-count">Participants:{{ participant_count }}</li>

                        {% if competition.enable_teams %}<li class="header-count">Teams: {{ team_count }}</li>{% endif %}
                        <li class="header-count">Submissions: {{ submission_count }}</li>
                        {% if competition.reward %}
                            <li class="header-count">Reward: {{ competition.reward }}</li>
                        {% endif %}
{#                        {% if time_remaining %}#}
{#                            <li>Days Left: {{ time_remaining }}</li>#}
{#                        {% endif %}#}
                    </ul>
                </div>
                <div class="organizer">
                    Organized by {{ competition.creator }}<br>
                    {% if competition.reward and competition.reward > 0 %}
                        Reward <b>${{ competition.reward|intcomma }}</b>
                    {% endif %}
                </div>
            </div>
        </div>
        <div align="center" style="max-height: 10vh; padding-left: 7.5vw; margin-top: 20vh; padding-top: 5vh;" class="row">
            <section style="margin: 0 !important; max-width: 60vw !important;" class="competition-tabs">
                {#                <ul class="nav nav-tabs" id="competition_tab_nav">#}
                <ul style="margin-left: 10vw;" class="list-inline text-center nav nav-tabs" id="competition_tab_nav">
                    {% for tab, contents in tabs.items %}
{#                        {% if tab.codename == "participate" %}#}
{#                            {% if not competition.has_single_phase %}#}
{#                                         Put this before participate tab#}
{#                                <li><a class="btn btn-primary" href="#phases" role="tab" data-toggle="tab">Phases</a></li>#}
{#                            {% endif %}#}
{#                        {% endif %}#}
                        <li><a class="" href="#{{ tab.codename|slugify }}" role="tab" data-toggle="tab">{{ tab.name }}</a></li>
                        {% if tab.codename == "results" %}
                            {#         Put this after results tab#}
                            {% if competition.allow_public_submissions %}
                                <!--<li><a href="#public_submissions" role="tab" data-toggle="tab">Public submissions</a></li>-->
                                <li><a class="" href="{% url 'competitions:public_submissions' pk=competition.pk %}">Public
                                    Submissions</a></li>
                            {% endif %}
                            {% if competition.enable_forum %}
                                <li><a class=" href="{% url 'forum_detail' forum_pk=competition.forum.pk %}">Forums <i
                                        class="glyphicon glyphicon-log-in"></i></a></li>
                            {% endif %}
                            {% if competition.enable_teams %}
                                {% if my_status == "approved" %}
                                    <li>
                                        <a class="" href="{% url 'team_detail' competition_pk=competition.pk %}">Team
                                            <i class="glyphicon glyphicon-cog"></i>
                                            {% if new_team_submission > 0 %}
                                                <span class="label label-danger">{{ new_team_submission }}</span>
                                            {% endif %}
                                            {% if my_team_alert == 1 %}
                                                <span class="glyphicon glyphicon-exclamation-sign"
                                                      style="color:red"></span>
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </section>
        </div>
    </div>
    <div class="tab-content row">
        {% for tab, contents in tabs.items %}
            {#         Let's insert the "phases" tab just before participate#}
{#            {% if tab.codename == "participate" %}#}
{#                <div class="tab-pane" id="phases">#}
{#                    <div class="tab-inner">#}
{#                        <div class="phase-list">#}
{#                            {% for phase in competition.phases.all %}#}
{#                                <div class="phase-list-item panel phase-list-item-#}
{#                                                    {% if phase.color %}{{ phase.color }}{% else %}default{% endif %}">#}
{#                                    <div class="panel-heading">#}
{#                                        <h3 class="panel-title">{{ phase.label }}</h3>#}
{#                                    </div>#}
{#                                    <div class="panel-body">#}
{#                                        <p><strong>Start:</strong> {{ phase.start_date }}</p>#}
{#                                        {% if phase.description %}#}
{#                                            <p><strong>Description:</strong> {{ phase.description }}</p>#}
{#                                        {% endif %}#}
{#                                    </div>#}
{#                                </div>#}
{#                            {% endfor %}#}
{#                            <div class="phase-list-item panel phase-list-item-default phase-list-item-deadline">#}
{#                                <div class="panel-heading">#}
{#                                    <h3 class="panel-title"><strong>Competition Ends</strong></h3>#}
{#                                </div>#}
{#                                <div class="panel-body">#}
{#                                    <p> {% if competition.end_date %}#}
{#                                        <strong>{{ competition.end_date }}</strong>#}
{#                                    {% else %} <strong>Never</strong>#}
{#                                    {% endif %}#}
{#                                    </p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            {% endif %}#}
            <div class="tab-pane" id="{{ tab.codename|slugify }}">
                <div class="tab-inner">
                    {% if tab.codename == "participate" %}
                        {% if not user.is_authenticated %}
                            <p>You must be logged in to participate in competitions.</p>
                            <a href="{% url 'account_login' %}?next=/competitions/{{ competition.id }}%23participate-get-data"
                               class="btn btn-primary">Sign In</a>
                        {% else %}
                            {% if my_status == "unknown" %}
                                <form id="participate_form">
                                    {% csrf_token %}
                                    <p>You have not yet registered for this competition.</p>
                                    <p>To participate in this competition, you must accept its specific
                                        terms and conditions. After you register, the competition organizer
                                        will review your application and notify you when your participation
                                        is approved.</p>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="agreed_terms" id="checkbox"
                                                   required onclick="Competition.registationCanProceed();">
                                            I accept the <a href="#learn_the_details-terms_and_conditions"
                                                            target="_blank">terms and conditions</a> of the
                                            competition.
                                        </label>
                                    </div>
                                    <input type="submit" id="participateButton"
                                           class="disabledStatus btn btn-primary margin-top"
                                           value="Register"/>
                                </form>
                            {% elif my_status == "pending" %}
                                <p>Your request to participate in this challenge has been received and a
                                    decision is pending.</p>
                            {% elif my_status == "denied" %}
                                <p>Your request to participate in this competition was denied or your
                                    privileges have been suspended.</p>
                                {% if my_participant.reason %}
                                    <p>Reason: {{ my_participant.reason }}</p>
                                {% endif %}
                            {% endif %}
                            {% if my_status == "approved" %}
                                {% include "web/competitions/_innertabs.html" %}
                            {% endif %}
                        {% endif %}
                    {% elif tab.codename == 'results' %}
                        {% include "web/competitions/_results.html" %}
                    {% else %}
                        {% include "web/competitions/_innertabs.html" %}
                    {% endif %}
                </div>
            </div>

        {% endfor %}
    </div>
    {% if competition.show_top_three and top_three %}
        <div style="margin-top: 5vh;" class="row">
            <div class="col-lg-12 well">

                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            <a id="top_three_pointer" data-toggle="tab" href="#{{ "results"|slugify }}"
                               class="glyphicon glyphicon-chevron-up"></a>
                        </th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Score</th>
                        <th>Last Submission</th>
                        <th>Team(?)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for leader in top_three %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ leader.username }}</td>
                            <td>{{ leader.score }}</td>
                            <td>{{ leader.last_submission_date|date:'d-m-Y' }}</td>
                            <td>{{ leader.team }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{#        <div class="col-sm-8">#}
{#            {% if competition.show_chart %}#}
{#                {% if graph %}#}
{#                    {% include "web/competitions/_chart.html" %}#}
{#                {% endif %}#}
{#            {% else %}#}
{#                <!-- Do nothing -->#}
{#            {% endif %}#}
{#        </div>#}
    </div>
{% endblock content %}

{% block jsincludes %}
    <script>
        $('#view_all_phases').on('click', function (e) {
            $('#competition_tab_nav a[href="#phases"]').tab('show');
        });
        $(function () {
            var show_location = function (hash) {
                var main_tab = hash.split('-')[0];
                var sub_tab = hash.split('-')[1];

                $('#competition_tab_nav a[href="' + main_tab + '"]').tab('show');
                $(main_tab + ' .innertabs a[href="' + main_tab + '-' + sub_tab + '"]').tab('show');
            };

            if (location.hash !== '') {
                show_location(location.hash);
            } else {
                $('#competition_tab_nav a:first').tab('show')
            }
            $('#competition_tab_nav a, .innertabs a').on('show.bs.tab', function (e) {
                return location.hash = $(e.target).attr('href').substr(1);
            });
            if ($('#participate-submit_results').hasClass('active')) {
                $('#submissions_phase_buttons .active').click();
            } else if ($('#results').hasClass('active')) {
                $('#results_phase_buttons .active').click();
            }
            ;
            $('a[href="#participate-submit_results"]').on('shown.bs.tab', function (e) {
                $($(e.target).attr('href') + ' .active').click();
            });
            $('a[href="#results"]').on('shown.bs.tab', function (e) {
                $($(e.target).attr('href') + ' .active').click();
            });

            $('#learn_the_details .col-sm-9 a').on('click', function () {
                show_location('#' + $(this).attr('href').split('#')[1]);
            });

            $('#top_three_pointer').on('click', function () {
                show_location('#' + $(this).attr('href').split('#')[1]);
            });
        });

    </script>
{% endblock %}

{% block extra_headers %}
    {{ submission_upload_form.media }}
{% endblock %}
