
anyjson==0.3.3
argparse
azure==0.7.1
psutil==2.1.1
PyYAML==3.10


# Added for python sdk
git+https://github.com/FlavioAlexander/azure-sdk-for-python.git@legacy

# Added for compute worker
git+https://github.com/FlavioAlexander/azure-sdk-for-python.git@legacy