compute-worker:
    azure-storage:
        account-name: "storage container name"
        account-key: "storage key"
    azure-service-bus:
        namespace: "service bus name name"
        key: "acs default key"
        issuer: "owner"
        listen-to: "compute"
    local-root: "D:\\Temp"
    logging:
        version: 1
        formatters:
            simple:
                format: '%(asctime)s %(levelname)s %(message)s'
        handlers:
            console:
                class: logging.StreamHandler
                level: DEBUG
                formatter: simple
                stream: ext://sys.stdout
        loggers:
            codalabtools:
                level: DEBUG
                handlers: [console]
                propagate: no
        root:
          level: DEBUG
          handlers: [console]
