compute-worker:
    azure-storage:
        account-name: "your account name"
        account-key: "your account key"
    azure-service-bus:
        namespace: "your namespace"
        key: "your secret key"
        issuer: "owner"
        listen-to: "name of queue"
    local-root: "D:\\Temp"
    logging:
        version: 1
        formatters:
            simple:
                format: '%(asctime)s %(levelname)s %(message)s'
        handlers:
            console:
                class: logging.StreamHandler
                level: DEBUG
                formatter: simple
                stream: ext://sys.stdout
        loggers:
            codalabtools:
                level: DEBUG
                handlers: [console]
                propagate: no
        root:
          level: DEBUG
          handlers: [console]
