/* new styles start here */
.header-space {
  padding-top:49px;
}
#worksheet-message {
  margin-bottom:2em;
}
#worksheet-message.ws-detail {
  margin-top:2em;
}
#worksheet_content {
  line-height:1.2em;
  min-height:480px;
}
#worksheet_content .glossary-link, #worksheet_content .controls label {
  font-weight:normal;
  font-size:.75em;
}
#worksheet_content .hidden {
  display:none;
}
#worksheet_content .ws-item {
  position:relative;
}
#worksheet_content.editable .ws-item {
  margin-left:1.5em;
}
#worksheet_content .ws-item .ws-checkbox {
  margin:0;
  position:absolute;
  left:-1.5em;
  top:0.25em;
}
#worksheet_content .empty-worksheet {
  color:#a4a4a4;
  text-align:center;
  display:none;
}
#worksheet_content .header-row {
  margin-bottom:1.875em;
}
#worksheet_content .header-row hr {
  margin: 1em 0.9375em;
}
#worksheet_content .header-row .controls {
  text-align:right;
  padding-top:.75em;
}
#worksheet_content .header-row .controls input,
#worksheet_content .header-row .controls label {
  margin:0;
}
#worksheet_content textarea.raw-textarea {
  min-height:480px;
}
#worksheet_content .worksheet-name {
  min-height:65px;
}
#worksheet_content .worksheet-name label input[type="checkbox"]{
  margin-right:5px;
}
#worksheet_content .worksheet-name h1 {
  text-indent:65px;
  margin-top:0;
  font-size:2.75em
}
#worksheet_content h1, #worksheet_content h3, #worksheet_content h3 {
  margin:.85em 0 .5em 0;
  font-weight:200;
}
#worksheet_content h1 {
  font-size:2.25em;
}
#worksheet_content h2 {
  font-size:1.75em;
}
#worksheet_content h3 {
  font-size:1.25em;
}
#worksheet_content .ws-item > .focused {
  background:#FFFEF4;
  box-shadow:0 0 3px #739cb9;
}
#worksheet_content table.focused  {
  background:#FFFEF4;
}
#worksheet_content table.focused tr.focused{
  background:#DFEDF7;
}
#worksheet_content textarea {
  background:#FFF;
  color:#333;
  box-shadow:none;
  font-family:monospace;
  font-size:14px;
  outline:none;
  height:auto;
  padding:0.5em;
  width:100%;
}
#worksheet_content .type-markup,
#worksheet_content .type-inline {
  min-height:1.5em;
  margin-bottom:20px;
}
#worksheet_content .type-markup ul,
#worksheet_content .type-markup ol {
  margin: 0 0 1em 0;
  padding-left:40px;
}
#worksheet_content .type-markup ul {
  list-style-type:disc;
}
#worksheet_content .type-markup ol {
  list-style-type:decimal;
}
#worksheet_content .type-contents blockquote {
  padding: 1em 0 1em 1.5em;
  border-left:4px solid #eee;
}
#worksheet_content .type-html .html-bundle {
  padding: 1em;
  margin-bottom:1.5em;
  border:1px solid #eee;
  background-color:#fff;
}
#worksheet_content .type-html.focused .html-bundle {
  background-color:#FFFEF4;
}
#worksheet_content .type-contents:not(.focused) blockquote{
  background-color:#fcfcfc;

}
#worksheet_content .type-contents blockquote p {
  white-space: pre;
  color:#555;
  margin:0;
  font-size:14px;
  line-height:1.5em;
}
#worksheet_content .type-worksheet a {
  display:block;
  height:2.5em;
  line-height:2.5em;
  padding:0 .5em 0 2.5em;
  background: url('../img/icon_worksheet.png') no-repeat .25em #fcfcfc;
  background-size:2em;

}
table.table {
  border-collapse: separate;
  border-spacing: 2px;
}
table.table th {
  font-weight:bold;
}
table.table tr th, table.table tr td {
  color:#555;
}
table.table-responsive {
  width:100%;
  max-width:100%;
  border:none;

}
.type-table, .table-wrapper {
  width: 100%;
  margin-bottom: 1.75em;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
}
table.table-responsive > thead > tr > th,
table.table-responsive > tbody > tr > th,
table.table-responsive > tfoot > tr > th,
table.table-responsive > thead > tr > td,
table.table-responsive > tbody > tr > td,
table.table-responsive > tfoot > tr > td {
  white-space: nowrap;
}
#worksheet_content hr {
  margin:1em 0;
}
#worksheet_content p {
  margin-bottom:1em;
}
.ws-search {
  margin:1.5em 0 1em;
  min-height:32px;
}
.ws-search input {
  height:auto;
  margin-bottom:0;
}
.ws-search input:focus {
  background:#fff;
}
.select2-container {
  width:100%;
}
/*.select2-container.select2-container-multi.select2-dropdown-open .select2-choices {
  border-bottom:none;
}*/
.select2-container-multi .select2-choices {
  background-image:none;
  /*padding:3px;*/
}
.select2-container-multi.select2-container-active .select2-choices {
  border-color:#aaa;
  box-shadow:none;
  z-index:2;
}
.select2-drop, .select2-drop-active  {
  background-color:rgba(255,255,255,.9);
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  border-radius:0;
  border-color:#aaa;
}
.select2-results {
  font-size:14px;
 /* margin:0;
  padding:0 4px;*/
}
/*.select2-results .select2-no-results {
  display:none;
}*/
.select2-results .select2-highlighted{
  background-color: rgba(115, 156, 185, 0.5);
}
.select2-container-multi .select2-choices .select2-search-choice {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color:rgba(115, 156, 185, 0.25);
  background-image: none;
  border:none;
  border-radius:0;
}
/* DEMO ONLY */
h1.worksheet-icon.orange {
  background-color:orange;
}
body.yellow {
  background-color:yellow;
}
#save_progress, #save_error, #update_progress {
  display:none;
  position:fixed;
  bottom:40px;
  right:40px;
  width:150px;
  height:40px;
  line-height:40px;
  background-color:rgba(255,255,255,.75);
  text-align:center;
}
#update_progress {
  top:63px;
}
#save_error i {
  font-size:24px;
  color:red;
  vertical-align:-3px;
}
#worksheet-list .worksheet-tile {
  border-left:1px solid #ccc;
  padding:0;
}
#worksheet-list .worksheet-tile:hover {
  cursor:pointer;
}
#worksheet-list .worksheet-tile:hover h3 {
  color:#739CB9;
}
#worksheet-list .worksheet-tile .worksheet-inner {
  border-left: 10px solid #739CB9;
  padding:10px 15px 10px 58px;
  background:url('../img/icon_worksheet.png') no-repeat 5px 10px;
  min-height:48px;
}
#worksheet-list .worksheet-tile.focused {
  -moz-box-shadow: 0 1px 6px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.25);
  box-shadow: 0 1px 6px rgba(0,0,0,0.25);
}
#worksheet-list .worksheet-tile.focused .worksheet-inner {
  border-left-color:#08ac33;
}
#worksheet-list .worksheet-tile .worksheet-inner h3 {
  margin:0;
  padding-bottom: 0.5em;
}
#worksheet-list .my-worksheets-toggle input {
  margin-right:5px;
}
#metadata_table {
  width:100%;
}
#metadata_table input {
  margin-bottom:0;
  width:100%;
}
#metadata_table.editing tr td,
#metadata_table.editing tr th {
  padding:.25em;
}
#bundle-content .bundle-tile h4 .button {
  font-size: .5em;
  margin-bottom: 0;
  line-height: 1.4em;
  padding: .25em .5em;
  vertical-align: middle;
  margin-left: 1em;
}
#glossaryModal {
  margin-top:-49px; /* account for navbar height */
}
#glossaryModal dl {
  margin-bottom:0;
}
#glossaryModal dt {
  float:left;
  margin-right:1em;
  font-weight:normal;
}
#glossaryModal dt code {
  padding:4px;
  text-align:center;
}