# ----------------------------------------------------------------------------
# Submission processing
# ----------------------------------------------------------------------------
SUBMISSION_TEMP_DIR=/tmp/codalab


# ----------------------------------------------------------------------------
# Storage
# ----------------------------------------------------------------------------

# May not be necessary. When testing with Py3 initially, this solved some SSL errors from Boto/Storages.
AWS_CA_BUNDLE=/usr/local/lib/python3.8/site-packages/certifi/cacert.pem

# Uncomment to use AWS
DEFAULT_FILE_STORAGE=storages.backends.s3boto3.S3Boto3Storage
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=public
AWS_STORAGE_PRIVATE_BUCKET_NAME=private
AWS_S3_CALLING_FORMAT=boto.s3.connection.OrdinaryCallingFormat
AWS_S3_HOST=s3.amazonaws.com
AWS_QUERYSTRING_AUTH=False
S3DIRECT_REGION=us-west-2
# ^^Set the S3DIRECT_REGION to the AWS region of your storage buckets
AWS_S3_REGION_NAME=us-east-1
AWS_S3_SIGNATURE_VERSION=s3v4

# ----- Virtual Host style addressing, 2020+
AWS_S3_ADDRESSING_STYLE=virtual
S3DIRECT_URL_STRUCTURE=https://{1}.{0}

# ----- Path Style addressing (legacy)
#AWS_S3_ADDRESSING_STYLE=path
#S3DIRECT_URL_STRUCTURE=https://{0}/{1}

# Uncomment to use Minio
#DEFAULT_FILE_STORAGE=storages.backends.s3boto3.S3Boto3Storage
#AWS_ACCESS_KEY_ID=
#AWS_SECRET_ACCESS_KEY=
#AWS_STORAGE_BUCKET_NAME=public
#AWS_STORAGE_PRIVATE_BUCKET_NAME=private
#AWS_S3_CALLING_FORMAT=boto.s3.connection.OrdinaryCallingFormat
#AWS_S3_HOST=minio.yoursite.org
#AWS_QUERYSTRING_AUTH=False
#S3DIRECT_REGION=us-east-1
#S3_USE_SIGV4=True
#AWS_S3_ENDPOINT_URL=https://minio.yoursite.org
#AWS_S3_REGION_NAME=us-east-1
#AWS_S3_SIGNATURE_VERSION=s3v4
#AWS_S3_ADDRESSING_STYLE=path
#S3DIRECT_URL_STRUCTURE=https://{0}/{1}

# Uncomment to use Azure
#DEFAULT_FILE_STORAGE=codalab.azure_storage.AzureStorage
#AZURE_ACCOUNT_NAME=
#AZURE_ACCOUNT_KEY=
#AZURE_CONTAINER=public
# Only set these if bundle storage key is different from normal account keys
# BUNDLE_AZURE_ACCOUNT_NAME=
# BUNDLE_AZURE_ACCOUNT_KEY=
# BUNDLE_AZURE_CONTAINER=bundles

# ----------------------------------------------------------------------------
# Database
# ----------------------------------------------------------------------------

# Used engine (mysql, postgresql, sqlite3, memory)
DB_ENGINE=postgresql

# Connection parameters
DB_HOST=postgres
DB_PORT=5432
DB_NAME=codalab_website
DB_USER=root
DB_PASSWORD=password

# Path where DB files will be mapped
DB_DATA_PATH=./var/data/postgres


# ----------------------------------------------------------------------------
# Caching
# ----------------------------------------------------------------------------
MEMCACHED_PORT=11211


# ----------------------------------------------------------------------------
# RabbitMQ and management
# ----------------------------------------------------------------------------
BROKER_URL=pyamqp://guest:guest@rabbit:5672//
#BROKER_USE_SSL=True
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_HOST=rabbit
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
FLOWER_BASIC_AUTH=root:password
FLOWER_PORT=5555


# ----------------------------------------------------------------------------
# Django/nginx
# ----------------------------------------------------------------------------
DJANGO_SECRET_KEY=change-me-to-a-secret
DJANGO_PORT=8000
DEBUG=True
NGINX_PORT=80

SSL_PORT=443
#SSL_CERTIFICATE=
#SSL_CERTIFICATE_KEY=
# Allowed hosts separated by space
SSL_ALLOWED_HOSTS=

# Set this to your actual domain, like example.com
CODALAB_SITE_DOMAIN=localhost

# How many site workers (submission result processors)?
WEB_CONCURRENCY=2

# Google Analytics code (leave empty to disable Google's user tracking)
GOOGLE_ANALYTICS=

# ----------------------------------------------------------------------------
# Logging
# ----------------------------------------------------------------------------
# Make sure LOGGING_DIR doesn't end with a slash
LOGGING_DIR=./var/logs
DJANGO_LOG_LEVEL=debug


# ----------------------------------------------------------------------------
# ChaHub
# ----------------------------------------------------------------------------
# Be sure to include trailing slash on URL
#CHAHUB_API_URL=https://chahub.org/api/v1/
#CHAHUB_API_KEY=some-secret-key
#SOCIAL_AUTH_CHAHUB_BASE_URL=https://chahub.org
