{$CADDY_DOMAIN} {
    gzip
    root /var/www/codalab/

    ext .html   # Clean URLs
    errors error.log {       # Error log
        * ./static/error/message.html  # Custom error page
    }

    # Redirect all requests that don't find a source to the error message page. Essentially all urls besides those that are static point to this message.

    # The email address to use to generate a certificate with Letsencrypt.
    tls {$CADDY_TLS_EMAIL}
}
