    <div id="submission_details_template" class="hide">
        <table>
            <tr class="trDetails">
                <td class="tdDetails">
                    <div class="submission_details">
                        <div class="bundle__meta__desc">
                            <p class="submission_description">No description given.</p>
                            <p class="submission_team_name"></p>
                            <p class="submission_method_name"></p>
                            <p class="submission_method_description"></p>
                            <p class="submission_project_url"></p>
                            <p class="submission_publication_url"></p>
                            <p class="submission_bibtex"></p>
                            <p class="submission_organization_or_affiliation"></p>
                        </div>
                        {# _'s are replaced by the submission ID in hrefs... so I'll use that to hook the traceback in #}
                        <div class="traceback"><a href="traceback/_/"></a></div>
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled">
                                    <li><a href="/my/competition/submission/_/input.zip">Download your submission</a></li>
                                    {% if phase.is_blind %}
                                        <li><a href="/my/competition/submission/_/stderr.txt" target="_blank" class="hide">View standard error log</a></li>
                                    {% else %}
                                        <li><a href="/my/competition/submission/_/predict_stdout.txt" target="_blank">View predict output log</a></li>
                                        <li><a href="/my/competition/submission/_/predict_stderr.txt" target="_blank">View predict error log</a></li>
                                        <li><a href="/my/competition/submission/_/stdout.txt" target="_blank">View scoring output log</a></li>
                                        <li><a href="/my/competition/submission/_/stderr.txt" target="_blank">View scoring error log</a></li>
                                        {% if not phase.is_scoring_only %}
                                            <li><a href="/my/competition/submission/_/prediction-output.zip">Download evaluation output from prediction step</a></li>
                                        {% endif %}
                                        {% if phase.competition.enable_detailed_results %}
                                            <li><a href="/my/competition/submission/_/detailed_results" target="_blank">View detailed results</a></li>
                                        {% endif %}
                                            <li><a href="/my/competition/submission/_/output.zip">Download evaluation output from scoring step</a></li>
                                        {% if user.id == competition.creator.id %}
                                            <li><a href="/my/competition/submission/_/private_output.zip">Download private output from scoring step</a></li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="col-sm-3 preloader-handler"></div>
                            <div class="col-sm-3">
                                <button class="button btn btn-default pull-right hide"></button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <table id="submission_row_template">
            <tr>
                <input type="hidden" name="state" value="0" />
                <td></td>
                <td></td>
                <td></td>
                <td class="statusName"></td>
                <td class="status not_submitted"></td>
                <td><span class="glyphicon glyphicon-plus"></span></td>
            </tr>
        </table>
    </div>
