    <div id="submission_details_template" class="hide">
        <table>
            <tr class="trDetails">
                <td class="tdDetails">
                    <div class="submission_details">
                        <div class="bundle__meta__desc">
                            <p>No description given.</p>
                        </div>
                        <div class="small-2 large-4 columns">
                            <a href="/my/competition/submission/_/input.zip">Download your submission</a></br>
                            {% if phase.is_blind %}
                                <a href="/my/competition/submission/_/stderr.txt" target="_blank" class="hide">View standard error log</a></br>
                            {% else %}
                                <a href="/my/competition/submission/_/stdout.txt" target="_blank">View standard output log</a></br>
                                <a href="/my/competition/submission/_/stderr.txt" target="_blank">View standard error log</a></br>
                                {% if not phase.is_scoring_only %}
                                <a href="/my/competition/submission/_/prediction-output.zip">Download evaluation output from prediction step</a></br>
                                {% endif %}
                                <a href="/my/competition/submission/_/output.zip">Download evaluation output from scoring step</a><br><br>
                            {% endif %}
                        </div>
                        <div class="small-2 large-4 columns preloader-handler"></div>
                        <div class="small-2 large-4 columns">
                            <button class="button rFloat hide"></button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <table id="submission_row_template">
            <tr>
                <input type="hidden" name="state" value="0" />
                <td></td>
                <td></td>
                <td></td>
                <td class="statusName"></td>
                <td class="status not_submitted"></td>
                <td><i class="fi-plus"></i></td>
            </tr>
        </table>
    </div>