<!-- Add a header marker to enable scrolling to this element and prevent the floating header overlapping content -->
<div class="header-space" scroll-into-view="{[{ 0==selectionIndex }]}"></div>
<div>
    <div>
        <div>
            <dl class="sub-nav"></dl>
            <p ng-show="hasStatus(status)">{[{ statusMessage(status) }]}</p>
            <a class="worksheet-animate"
               ng-repeat="worksheet in worksheets"
               ng-href="{[{ worksheet.url }]}"
               target="{[{ worksheet.target }]}"
               set-focus="{[{ $index==selectionIndex }]}"
               ng-focus="gotFocus($index)"
               ng-blur="lostFocus($index)">
                <div class="worksheet-animate-child competition-tile" scroll-into-view="{[{ $index==selectionIndex - 1 }]}">
                    <article class="subContainer">
                        <input id="itemID" type="hidden" ng-value="worksheet.uuid" />
                        <div class="competitionTileLftStrip"></div>
                        <div class="articleImageContainer">
                            <div class="subContainerPadding">
                                <img class="repeat-item" src="/static/img/icon_worksheet.png">
                            </div>
                        </div>
                        <div class="articleTextArea" ng-switch on="worksheet.editable">
                            <div class="subContainerPadding" ng-switch-when="false">
                                <div class="articleHeadingContainer">
                                    <h3>{[{ worksheet.title }]}</h3>
                                    <label>{[{ worksheet.name }]} by {[{ worksheet.owner }]}</label>
                                </div>
                                <p class="competition-paragraph">{[{ worksheet.description }]}</p>
                            </div>
                            <div class="subContainerPadding" ng-switch-when="true">
                                <div class="articleHeadingContainer">
                                    <input type="text" ng-model="worksheet.name" placeholder="Worksheet Name">
                                </div>
                            </div>
                            <section class="articleButtonsArea" ng-switch-when="true">
                                <input type="button"
                                       value="save"
                                       class="button"
                                       ng-show="worksheetEnabled(worksheet) && !hasStatus(worksheet.status)"
                                       ng-click="saveWorksheet(worksheet)" />
                                <input type="button" value="save" class="button" disabled="disabled" ng-hide="worksheetEnabled(worksheet)" />
                                <div ng-show="hasStatus(worksheet.status)">{[{ statusMessage(worksheet.status) }]}</div>
                            </section>
                        </div>
                    </article>
                </div>
            </a>
        </div>
    </div>
    <div>
        <div>
            <shortcut></shortcut>
            <p class="keyboard-text">
              It is possible to use the <code class="keyboard-shorcut">&uarr;</code> <code class="keyboard-shorcut">&darr;</code> keys to navigate.
            </p>
            <p class="keyboard-text" ng-show="user.authenticated">
                <code class="keyboard-shorcut">CTRL + &uarr;</code> <code class="keyboard-shorcut">CTRL + &darr;</code> to insert a worksheet.
            </p>
        </div>
    </div>
    <div>
        <div ng-show="user.authenticated">
            <input type="button" value="create" class="button right" ng-click="addWorksheet(selectionIndex, true)" />
        </div>
    </div>
</div>
