{% load url from future %}
{% load account %}
{% load analytical %}

<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8" /> 

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />
  <link type="image/x-icon" rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">

    {% block meta %}
    {% endblock %}

    <title>CodaLab - {% block head_title %}{% endblock %}</title>

    {% block css %}
        <!-- Included CSS Files (Compressed) -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.dataTables.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/Main.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/codalab.css">

        <script src="{{ STATIC_URL }}js/vendor/custom.modernizr.js"></script>

        <!-- IE Fix for HTML5 Tags -->
        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    {% endblock css %}

    {% block extra_headers %}
    {% endblock extra_headers %}

    {% analytical_head_top %}
    {% analytical_head_bottom %}

    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.10.2.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.1/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/jquery.scrollTo.min.js"></script>
</head>

<body class="body">

    <!-- Main Page Content and Sidebar -->
    <div class="container" id="layout">
        <!-- Nav Bar -->
        <div class="header">
          <nav class="top-bar">
            <ul class="title-area">
              <!-- Title Area -->
              <li class="name cl-logo"><a href="/" tabindex=1><img src="{{STATIC_URL}}img/CL_Header_Logo.png" alt="Home"></a></li>
              <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
              <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>
            <section class="top-bar-section">
              {% block top_bar_right_menus %}
              <!-- Left Nav Section -->

              <!-- Right Nav Section -->
              <ul class="right">
                <!--                 
                <li class="has-form">
                    <form action="/search" method="get">
                    <input name="query" type="search" placeholder="Search">
                    </form>
                </li> 
                -->
                <!-- 
                <li id="liExperiments"><a href="/experiments" tabindex=2>Experiments</a></li> 
                -->
                <li id="liCompetitions"><a href="/competitions" tabindex=3>Competitions</a></li>
                {% if user.is_authenticated %}
                    <li id="liMyCodalab"><a href="/my" tabindex=4>My CodaLab</a></li>
                {% else %}
                    <li><a href="{% url 'account_login' %}" tabindex=4 name="next" value="/my">My CodaLab</a></li>  
                {% endif %}
                <li id="liAbout"><a href="/help/about.html" tabindex=5>About</a></li>
                {% if user.is_authenticated %}
                    <li class="has-dropdown">
                      <a href="#profile"><img src="{{ STATIC_URL }}img/icon_mini_avatar.png" class="mini_avatar" alt="{{user.username}}"> {{user.username}}</a>
                      <ul class="dropdown">
                          <!-- <li><a href="#">My Profile</a></li> -->
                          <li class="divider"></li>
                          <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
                      </ul>
                    </li>
                    {% else %}
                        <li class="menu-icon">
                    <a href="{% url 'account_login' %}"><img src="{{ STATIC_URL }}img/icon_mini_avatar.png" class="mini_avatar" alt="Sign In"> Sign In</a></li>  
                {% endif %}      
                    </ul>
                {% endblock top_bar_right_menus %}
                </section>
            </nav>
        </div>
        <!-- End Nav -->

        {% block nosubheader %}
        {% block subheader %} 
        <div class="header-title-bg">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-12 columns">
                        <h1> {% block page_title %}{% endblock page_title %} </h1>
                    </div>
                </div>
            </div>
        </div>
        {% endblock subheader %}
        {% endblock nosubheader %}

        {% block hero_subheader %}
        {% endblock hero_subheader %}

        <div class="large-12 large-centered columns content">
            {% block content %}
            {% endblock content %}
        </div>
        <div id="layout_footer">
        </div>
    </div>
    <!-- End Main Content and Sidebar -->

    <!-- Footer -->
    <footer id="footer">
        <div class="small-6 columns">
            <ul class="inline-list left">            
            <li>   
                <span>
                  <a href="http://www.windowsazure.com/" target="_blank"><img src="{{ STATIC_URL }}img/Azure_Footer_Logo.png" border="0"/></a>
                </span>
            </li>
            <li>   
                <span>
                  <a href="http://codalab.github.io/codalab/" target="_blank"><img src="{{STATIC_URL}}img/github.png" border="0"/></a>
                  <!-- <a href="{{last_commit}}">{{app_version}}</a> -->
                </span>
            </li>
            </ul>
        </div>
        <div class="small-6 columns">
            <ul class="inline-list right">
                <!-- <li>CodaLab v.0 ()</li> -->
                <li><a href="/help/about.html">Help</a></li>
                <li><a href="mailto:info@codalab.org">Contact Us</a></li>
                <li><a href="http://go.microsoft.com/?linkid=9837806" target="_blank">Feedback</a></li>
                <li><a href="http://codalab.github.io/codalab/notices.html">Notices</a></li>
                <li><a href="http://codalab.github.io/codalab/terms.html">Terms of Use</a></li>
            </ul>
        </div>
    </footer>

    <!-- Check for Zepto support, load jQuery if necessary -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/jquery.liteuploader-1.4.1.min.js"></script>

    <!-- Included JS Files (Compressed) -->
    <script src="{{ STATIC_URL }}js/foundation.min.js"></script>

    <!-- Initialize JS Plugins -->
    <script src="{{ STATIC_URL }}js/app.js"></script>

    <script>
    $(document).foundation();
    {% block js %}
    {% endblock js %}
    </script>

    {% block jsincludes %}
    {% endblock jsincludes %}

    {% analytical_body_top %}
    {% analytical_body_bottom %}

</body>
</html>
