{% load url from future %}
{% load account %}
{% load analytical %}
{% load codalab_tags %}
{% load compress %}

<!DOCTYPE html>
<html class="no-js" {% block custom_html_attributes %}{% endblock %} lang="en">

<head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="image/x-icon" rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
    {% block meta %}
    {% endblock %}

    <title>CodaLab - {% block head_title %}{% endblock %}</title>

    {% block css %}
        <!-- Included CSS Files (Compressed) -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.dataTables.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}js/vendor/select2/select2.css" />
        {% if compile_less %}
            {% compress css %}
                <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/imports.less">
            {% endcompress %}
        {% else %}
            <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/imports.less">
            <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.5/less.min.js"></script>
        {% endif %}

        <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-1.10.2.min.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/custom.modernizr.js"></script>
        <!-- IE Fix for HTML5 Tags -->
        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    {% endblock css %}

    {% block extra_headers %}
    {% endblock extra_headers %}

    {% analytical_head_top %}
    {% analytical_head_bottom %}

    {% block extra_scripts %}
    {% endblock extra_scripts %}

    <!-- From Charles Sterling for Analytics -->
    <script type="text/javascript">
    var _daAnalytics = _daAnalytics || {}; _daAnalytics.init = function (d) {_daAnalytics.Commands = _daAnalytics.Commands || []; for (var a = function (a) { return function () { _daAnalytics.Commands.push([a].concat(Array.prototype.slice.call(arguments, 0))) } }, b = "siteId trackLinkClicks setUserId setProperty setView trackPage trackAction trackEvent trackView setAppId setAccountId setUserId".split(" "), c = 0; c < b.length; c++) _daAnalytics[b[c]] = a(b[c]); _daAnalytics.setAppId(d); var a = document.createElement("script"); a.type = "text/javascript"; a.src = "//az416426.vo.msecnd.net/scripts/da.js"; a.async = !0; var b = document.getElementsByTagName("script")[0]; b.parentNode.insertBefore(a, b); };
    _daAnalytics.init("e6ba8776-eeeb-46ab-b810-5b7cb34533d1");
    _daAnalytics.trackPage();
    </script>
    <!-- End of Analytics from Charles -->
</head>

<body {% block custom_body_attributes %}{% endblock %}>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% block title %}
                    <a class="navbar-brand" href="/" tabindex=1 target="_self"><img src="{{STATIC_URL}}img/codalab-logo.png" alt="Home"></a>
                {% endblock title %}
            </div>
            {% block top_bar_right_menus %}
                <div class="collapse navbar-collapse" id="navbar_collapse">
                    {% if BETA %}
                        <form action="/search" method="get" class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input class="form-control" name="q" type="search" placeholder="Search">
                            </div>
                        </form>
                    {% endif %}
                    <ul class="nav navbar-nav navbar-right">
                        {% if PREVIEW_WORKSHEETS %}
                            <li class="{% active request '/worksheets/' %}{% active request '/bundles/' %}"><a href="/worksheets" tabindex=2 target="_self">Worksheets</a></li>
                        {% endif %}
                        <li class="dropdown {% active request '/competitions/' %}">
                            <a href="/competitions">Competitions <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                {% if user.is_authenticated %}
                                    <li class="{% active request '/my/$' %}"><a href="/my">My CodaLab</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{% url 'my_datasets' %}" tabindex=4 target="_self">My Datasets</a></li>
                                {% else %}
                                    <li><a href="{% url 'account_login' %}" tabindex=4 name="next" value="/my" target="_self">My CodaLab</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li><a href="https://github.com/codalab/codalab/wiki" target="_blank">Help</a></li>
                        {% if user.is_authenticated %}
                            <li class="dropdown {% active request '/accounts/' %}">
                                <a href="{% url 'user_settings' %}">
                                    <img src="{{ STATIC_URL }}img/icon_mini_avatar.png" class="mini-avatar" alt="{{user.username}}"> {{user.username}} <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{% url 'user_settings' %}">Settings</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{% url 'account_logout' %}" target="_self">Sign Out</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'account_login' %}" target="_self"><img src="{{ STATIC_URL }}img/icon_mini_avatar.png" class="mini-avatar" alt="Sign In"> Sign In</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endblock top_bar_right_menus %}
        </div>
    </nav>

    {% block nosubheader %}
        {% block subheader %}
            <div class="page-header">
                <div class="container">
                    <h1>{% block page_title %}{% endblock page_title %}</h1>
                </div>
            </div>
        {% endblock subheader %}
    {% endblock nosubheader %}

    {% block hero_subheader %}
    {% endblock hero_subheader %}

    {% block content_wrapper %}
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
        {% endblock content_wrapper %}
    </div>

    <footer class="navbar-fixed-bottom">
        <div class="container-fluid">
            <p class="navbar-text navbar-left">
                <a href="http://research.microsoft.com/" target="_blank"><img src="{{ STATIC_URL }}img/msr_footer.png" alt="Microsoft Research" /></a>&nbsp;
                <a href="https://github.com/codalab/codalab" target="_blank"><img src="{{ STATIC_URL }}img/github.png" alt="Fork me on GitHub" /></a>
                <!-- <a href="{{last_commit}}">{{app_version}}</a> -->
            </p>
            <ul class="nav navbar-nav navbar-right">
                <!-- <li>CodaLab v.0 ()</li> -->
                <li><a href="https://github.com/codalab/codalab/wiki/Project_About_CodaLab" target="_blank">About</a></li>
                <li><a href="https://groups.google.com/forum/#!forum/codalabdev" target="_blank">Forum</a></li>
                <li><a href="http://go.microsoft.com/?linkid=9837806" target="_blank">Survey</a></li>
                <li><a href="https://github.com/codalab/codalab/wiki/Project_Privacy_Policy" target="_blank">Privacy</a></li>
                <li><a href="https://github.com/codalab/codalab/wiki/Project_Terms_and_Conditions" target="_blank">Terms of Use</a></li>
            </ul>
        </div>
    </footer>

    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/select2/select2-forked.js"></script>
    <script src="{{ STATIC_URL }}lib/jq/jquery.cookie.js"></script>
    <script src="{{ STATIC_URL }}js/search/ws_actions.js"></script>
    <script src="{{ STATIC_URL }}codalab.min.js"></script>

    <script>
    {% block js %}
        Competition.initialize();
    {% endblock js %}
    </script>

    {% block jsincludes %}
    {% endblock jsincludes %}

    {% analytical_body_top %}
    {% analytical_body_bottom %}

</body>
</html>
