{% extends "base.html" %}
{% block custom_body_attributes %}{% endblock %}
{% block head_title %}Worksheet details{% endblock head_title %}
{% block subheader %}{% endblock subheader %}

{% block content %}

</div>
<div id="worksheet-message" class="ws-detail container">
    <img src="{{ STATIC_URL }}img/Preloader_Small.gif" /> Loading worksheet...
</div>
<div id="worksheet_container">
    <!-- worksheet html wil go here-->
</div>
</div>
<div id="save_progress" class="progress-message">
    <img src="{{ STATIC_URL }}img/Preloader_Small.gif" /> Saving...
</div>
<div id="update_progress" class="progress-message">
    <img src="{{ STATIC_URL }}img/Preloader_Small.gif" /> Updating...
</div>
<div id="save_error" class="progress-message">
    <i class="glyphicon glyphicon-remove-circle"></i> Error Saving...
</div>
<div id="glossaryModal" class="modal" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4>Keyboard Shortcuts</h4>
            </div>
            <div class="modal-body">
                <h5>General</h5>
                <table class="table table-striped">
                    <tr>
                        <td><kbd>/</kbd> jump to search bar</td>
                    </tr>
                    <tr>
                        <td><kbd>shift + f</kbd> toggle editing mode (if user has permission)</td>
                    </tr>
                    <tr>
                        <td><kbd>j</kbd> or <kbd>↓</kbd> next worksheet item or table row</td>
                    </tr>
                    <tr>
                        <td><kbd>shift + j</kbd> or <kbd>shift + ↓</kbd> move focused item down</td>
                    </tr>
                    <tr>
                        <td><kbd>k</kbd> or <kbd>↑</kbd> previous worksheet item or table row</td>
                    </tr>
                    <tr>
                        <td><kbd>shift + k</kbd> or <kbd>shift + ↑</kbd> move focused item up</td>
                    </tr>
                    <tr>
                        <td><kbd>x</kbd> select highlighted item (if in edit mode)</td>
                    </tr>
                    <tr>
                        <td><kbd>f</kbd> forget selected items</td>
                    </tr>
                    <tr>
                        <td><kbd>O</kbd> insert markup before highlighted item or row</td>
                    </tr>
                    <tr>
                        <td><kbd>o</kbd> insert markup after highlighted item or row</td>
                    </tr>
                    <tr>
                        <td><kbd>?</kbd> show this glossary</td>
                    </tr>
                </table>
                <h5>Editing Markup</h5>
                <table class="table table-striped">
                    <tr>
                        <td><kbd>e</kbd> edit highlighted item (markup bundles only)</td>
                    </tr>
                    <tr>
                        <td><kbd>ctrl + enter</kbd> or <kbd>⌘ + enter</kbd> save edits to markup item</td>
                    </tr>
                    <tr>
                        <td><kbd>esc</kbd> exit edit mode</td>
                    </tr>
                </table>
                <h5>Tables and Bundles</h5>
                <table class="table table-striped">
                    <tr>
                        <td><kbd>enter</kbd> go to details page of highlighted bundle</td>
                    </tr>
                    <tr>
                        <td><kbd>shift + x</kbd> select parent table of highlighted row</td>
                    </tr>
                    <tr>
                        <td><kbd>ctrl + j</kbd> or <kbd>⌘ + j</kbd> move highlighted row down</td>
                    </tr>
                    <tr>
                        <td><kbd>ctrl + k</kbd> or <kbd>⌘ + k</kbd> move highlighted row up</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block js %}
    {# moved below because the script tag is in base making this block not color code in editors #}
    {{ block.super }}
{% endblock js %}

{% block jsincludes %}
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script src="{{ STATIC_URL }}js/vendor/marked.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/underscore-min.js"></script>
    <script src="http://fb.me/react-0.11.1.js"></script>

    {# TODO: remove JSX and move to deploy processing of JSX #}
    <script src="http://fb.me/JSXTransformer-0.11.1.js"></script>

    <script src="{{ STATIC_URL }}js/worksheet/worksheet_content.js"></script>
    <script type="text/jsx" src="{{ STATIC_URL }}js/worksheet/ws_mixins.js"></script>
    {# ------- JSX FILES  ------- #}
    <script type="text/jsx" src="{{ STATIC_URL }}js/worksheet/worksheet_search.js"></script>
    {# bundle type renders/actions #}
    <script type="text/jsx" src="{{ STATIC_URL }}js/worksheet/contents_bundle_interface.js"></script>
    <script type="text/jsx" src="{{ STATIC_URL }}js/worksheet/html_bundle_interface.js"></script>
    <script type="text/jsx" src="{{ STATIC_URL }}js/worksheet/image_bundle_interface.js"></script>
    <script type="text/jsx" src="{{ STATIC_URL }}js/worksheet/inline_bundle_interface.js"></script>
    <script type="text/jsx" src="{{ STATIC_URL }}js/worksheet/markdown_bundle_interface.js"></script>
    <script type="text/jsx" src="{{ STATIC_URL }}js/worksheet/record_bundle_interface.js"></script>
    <script type="text/jsx" src="{{ STATIC_URL }}js/worksheet/table_bundle_interface.js"></script>
    <script type="text/jsx" src="{{ STATIC_URL }}js/worksheet/worksheet_bundle_interface.js"></script>
    {# main entrance point for the worksheet and it's items/bundles #}
    <script type="text/jsx" src="{{ STATIC_URL }}js/worksheet/worksheet_interface.js"></script>
    {# ------- END JSX FILES  ------- #}

<script>
MathJax.Hub.Config({
    tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        inlineMath: [['$','$']]
    }
});


$(function () {
    //                              /api/worksheets/0x706<...>d5b66e
    ws_obj = new WorksheetContent("/api" + document.location.pathname);
    ws_actions = new WorksheetActions(); // Search bar actions

});
</script>
{% endblock jsincludes %}
