{% extends 'base.html' %}
{% block head_title %}Worksheets{% endblock head_title %}
{% block page_title %}Worksheets{% endblock page_title %}

{% block custom_html_attributes %} ng-app="codalab" {% endblock custom_html_attributes %}
{% block custom_body_attributes %} ng-controller="root" {% endblock custom_body_attributes %}
{% block nosubheader %} {% endblock nosubheader %}
{% block header_space %} {% endblock header_space %}

{% block content_wrapper %}
{% load static %}
<ng-view></ng-view>
{% endblock content_wrapper %}

{% block js %}
    // Initialize Foundation
    $(document).foundation();

    // Following code is shared with competitions which do not yet support AngularJS
    $(function () {
        $(".top-bar-section ul > li").removeClass("active");
        $("#liWorksheets").addClass("active");
    });
{% endblock js %}

{% block jsincludes %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.3/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-animate.min.js"></script>

    <script src="{{ STATIC_URL }}app/js/app.js"></script>
    <script src="{{ STATIC_URL }}app/js/services/worksheetsapi.js"></script>
    <script src="{{ STATIC_URL }}app/js/controllers/root.js"></script>
    <script src="{{ STATIC_URL }}app/js/controllers/worksheets.js"></script>
    <script src="{{ STATIC_URL }}app/js/controllers/worksheet.js"></script>
    <script src="{{ STATIC_URL }}app/js/directives/shortcut.js"></script>
    <script src="{{ STATIC_URL }}app/js/directives/setfocus.js"></script>
    <script src="{{ STATIC_URL }}app/js/directives/scrollintoview.js"></script>

{% endblock %}