{% extends 'base.html' %}
{% block head_title %}Worksheets{% endblock head_title %}
{% block page_title %}Worksheets{% endblock page_title %}

{% block custom_html_attributes %} ng-app="codalab" {% endblock custom_html_attributes %}
{% block custom_body_attributes %} ng-controller="root" {% endblock custom_body_attributes %}
{% block nosubheader %} {% endblock nosubheader %}
{% block header_space %} {% endblock header_space %}

{% block content_wrapper %}
{% load static %}
<ng-view>
{% endblock content_wrapper %}

{% block js %}
    // Initialize Foundation
    $(document).foundation();

    // Following code is shared with competitions which do not yet support AngularJS
    $(function () {
        $(".top-bar-section ul > li").removeClass("active");
        $("#liWorksheets").addClass("active");
    });
{% endblock js %}