{% extends 'base.html' %}
{% block head_title %}Worksheets{% endblock head_title %}
{% block page_title %}Worksheets{% endblock page_title %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <div id="worksheet-message">
            <img src="{{ STATIC_URL }}img/Preloader_Small.gif" /> Loading worksheets...
        </div>
        <div id="container">
            <!-- worksheet list wil go here-->
        </div>
    </div>
</div>
{% endblock %}

{% block jsincludes %}
    <script src="http://fb.me/react-0.11.1.js"></script>

    {# TODO: remove JSX and move to deploy processing of JSX #}
    <script src="http://fb.me/JSXTransformer-0.11.1.js"></script>

    {#  JSX FILES #}
    <script type="text/jsx" src="{{ STATIC_URL }}js/worksheet/worksheet_list.js"></script>

    <script>
        $(function () {
            $(".top-bar-section ul > li").removeClass("active");
            $("#liWorksheets").addClass("active");
            {% if request.user.is_authenticated %}
                user_id = {{ request.user.id }};
            {% else %}
                user_id = 0;
            {% endif %}
        });
    </script>
{% endblock jsincludes %}