{% extends "base.html" %}

{% block head_title %}Worksheet Name Here{% endblock head_title %}
{% block page_title %}Worksheet Details{% endblock page_title %}

{% block content %}
<div class="large-12 columns content">
    <div class="row">
        <div class="large-12 columns worksheet-name">
            <a href="#" class="right">
                <button class="med button">Export</button>
            </a>
            <h2 class="worksheet-icon">basic_ml</h2>
            <label>By Author Name</label>
        </div>
        <div class="large-12 columns">
            <p>This worksheet performs the basic machine learning pipeline for evaluating a single learning algorithm on a single dataset. We first split the dataset into two parts, one for training and the other for testing.  We use the learning algorithm to learn a model on the training data, and then use that model to make predictions on the test data.  A separate evaluation module is used to report the error (number of misclassified examples).</p>
        </div>
        <div class="large-12 columns">
        <hr>
        <p class="h-caps">Tags</p>
        <p> {{ bundle.metadata.tags }} </p>
    </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <hr>
            <p>We first insert <a href="http://www.cs.waikato.ac.nz/ml/weka/">Weka</a>, a suite of basic machine learning utilities, which includes many learning algorithms as well as helpers for splitting data, performing evaluation, etc.</p>
            <div class="bundle-tile">
                <div class="large-12 columns">
                    <a href="#" class="right">
                        <button class="med button">Download</button>
                    </a>
                    <a href="/bundles/{{bundle.uuid}}"><h4 class="bundle-name bundle-icon-sm">weka</h4></a>
                </div>
                <div class="large-6 columns bundle-meta">
                    <p><strong>Name:</strong><span>base/weka</span></p>
                    <p><strong>Source:</strong><span><a href="http://www.cs.waikato.ac.nz/ml/weka/" target="_blank">http://www.cs.waikato.ac.nz/ml/weka</a></span></p>
                    <p><strong>Required:</strong><span>Linux</span></p>
                </div>
                <div class="large-6 columns">
                    <p>Weka is a collection of machine learning algorithms for data mining tasks. The algorithms can either be applied directly to a dataset or called from your own Java code. Weka contains tools for data pre-processing, classification, regression, clustering, association rules, and visualization. It is also well-suited for developing new machine learning schemes.</p>
                </div>
                <a href="#" class="bundle__expand_button">
                    <img src="/static/img/expand-arrow.png" alt="Expand">
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <hr>
            <p>We insert a small dataset from the <a href="http://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records" target="_blank">UCI repository on Congressional voting records</a>.</p>
            <div class="bundle-tile">
                <div class="large-12 columns">
                    <a href="#" class="right">
                        <button class="med button">Download</button>
                    </a>
                    <a href="/bundles/{{bundle.uuid}}"><h4 class="bundle-name bundle-icon-sm">dataset</h4></a>
                </div>
                <div class="large-6 columns bundle-meta">
                    <p><strong>Name:</strong><span>base/uci_arff/vote</span></p>
                    <p><strong>Size:</strong><span>24,000,096 bytes</span></p>
                    <p><strong>Source:</strong><span><a href="http://repository.seasr.org/Datasets/UCI/arff" target="_blank">http://repository.seasr.org/Datasets/UCI/arff</a></span></p>
                </div>
                <div class="large-6 columns">
                    <p>1984 United States Congressional Voting Records Database</p>
                </div>
                <a href="#" class="bundle__expand_button">
                    <img src="/static/img/expand-arrow.png" alt="Expand">
                </a>
                <div class="large-12 columns">
                    <table class="bundle__file_view">
                        <tr class="row">
                            <td class="col">COL 1</td>
                            <td class="col">COL 2</td>
                            <td class="col">COL 3</td>
                            <td class="col">COL 4</td>
                            <td class="col">COL 5</td>
                        </tr>
                        <tr class="row">
                            <td class="col">ROW 1</td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                        </tr>
                        <tr class="row">
                            <td class="col">ROW 2</td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                        </tr>
                        <tr class="row">
                            <td class="col">ROW 3</td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                        </tr>
                        <tr class="row">
                            <td class="col">ROW 4</td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                        </tr>
                        <tr class="row">
                            <td class="col">ROW 5</td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                        </tr>
                        <tr class="row">
                            <td class="col">ROW 6</td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                        </tr>
                        <tr class="row">
                            <td class="col">ROW 7</td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                        </tr>
                        <tr class="row">
                            <td class="col">ROW 8</td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                        </tr>
                        <tr class="row">
                            <td class="col">ROW 9</td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                        </tr>
                        <tr class="row">
                            <td class="col">ROW 10</td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <hr>
            <p>Split this dataset into training and test portions using the Weka utilities. 4 specifies the number of folds (3/4 is used for training, 1/4 for test).</p>
            <div class="bundle-tile">
                <div class="large-12 columns">
                    <a href="#" class="right">
                        <button class="med button">Download</button>
                    </a>
                    <a href="/bundles/{{bundle.uuid}}"><h4 class="bundle-name bundle-icon-sm">split</h4></a>
                </div>
                <div class="large-6 columns bundle-meta">
                    <p><strong>Name:</strong><span>generated/2</span></p>
                    <p><strong>Base:</strong><span>basae/weka</span></p>
                    <p><strong>Command:</strong><span>$program/base/split $input $output 4</span></p>
                </div>
                <div class="large-6 columns">
                    <p>No description</p>
                </div>
                <a href="#" class="bundle__expand_button">
                    <img src="/static/img/expand-arrow.png" alt="Expand">
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <div class="bundle-tile">
                <div class="large-12 columns">
                    <a href="#" class="right">
                        <button class="med button">Download</button>
                    </a>
                    <a href="/bundles/{{bundle.uuid}}"><h4 class="bundle-name bundle-icon-sm">splitData</h4></a>
                </div>
                <div class="large-6 columns bundle-meta">
                    <p><strong>Name:</strong><span>generated/3</span></p>
                    <p><strong>Input:</strong><span>base/uci_arff/vote [dataset]</span></p>
                    <p><strong>Program:</strong><span>generated/2 [split]</span></p>
                    <p><strong>Output:</strong><span>train test</span></p>
                    <p><strong>StdOut:</strong><span>Splitting into train... <br>Splitting into test...</span></p>
                    <p><strong>StdErr:</strong><span></span></p>
                    <p><strong>Status:</strong><span>elapsedTime: 0.380047082901001 <br>exitCode: 0 <br>maxMemoryUsed: 100</span></p>
                </div>
                <div class="large-6 columns">
                    <p>No description</p>
                </div>
                <a href="#" class="bundle__expand_button expanded">
                    <img src="/static/img/expand-arrow.png" alt="Expand">
                </a>
                <div class="large-12 columns">
                    <table class="bundle__file_view expanded">
                        <tr class="row">
                            <td class="col">COL 1</td>
                            <td class="col">COL 2</td>
                            <td class="col">COL 3</td>
                            <td class="col">COL 4</td>
                            <td class="col">COL 5</td>
                        </tr>
                        <tr class="row">
                            <td class="col">ROW 1</td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                        </tr>
                        <tr class="row">
                            <td class="col">ROW 2</td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                        </tr>
                        <tr class="row">
                            <td class="col">ROW 3</td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                        </tr>
                        <tr class="row">
                            <td class="col">ROW 4</td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                        </tr>
                        <tr class="row">
                            <td class="col">ROW 5</td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                        </tr>
                        <tr class="row">
                            <td class="col">ROW 6</td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                        </tr>
                        <tr class="row">
                            <td class="col">ROW 7</td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                        </tr>
                        <tr class="row">
                            <td class="col">ROW 8</td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                        </tr>
                        <tr class="row">
                            <td class="col">ROW 9</td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                        </tr>
                        <tr class="row">
                            <td class="col">ROW 10</td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                            <td class="col"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}