{% extends "base.html" %}

{% block head_title %}Health Status{% endblock head_title %}
{% block page_title %}Health Status{% endblock page_title %}

{% block content %}
    <div class="row">
        <div class="large-12 large-centered columns">
            <div class="CompetitionsDetailContainer">
                <div class="section-container auto competitionsDetailTabArea" data-section data-section-resized data-options="deep_linking:true" id="sections">
                    <section style="text-align: center;">
                        <p class="title" data-section-title width="100%" height="100%">
                            <a href="#health">Health</a>
                        </p>
                        <div class="content" data-slug="health" data-section-content>
                            <div class="row">
                                <div class="small-4 columns">
                                    <canvas class="meter" data-value="{{ jobs_pending_count }}" data-max="100"></canvas>
                                    <p>Jobs pending: {{ jobs_pending_count }}</p>

                                    <canvas class="meter" data-value="{{ jobs_finished_in_last_2_days_avg }}" data-max="300"></canvas>
                                    <p>Average job length: {{ jobs_finished_in_last_2_days_avg }}s</p>
                                </div>

                                <div class="small-offset-1 small-7 columns" style="text-align: left;">
                                    <b>Recently failed jobs:</b>
                                    <ol>
                                        {% for job in jobs_failed %}
                                            <li>{{ job }}</li>
                                        {% empty %}
                                            <li><i>None</i></li>
                                        {% endfor %}
                                    </ol>

                                    <br><br>

                                    <b>Jobs lasting longer than 10 minutes:</b>
                                    <ol>
                                        {% for job in jobs_lasting_longer_than_10_minutes %}
                                            <li>{{ job }}</li>
                                        {% empty %}
                                            <li><i>None</i></li>
                                        {% endfor %}
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <p class="title" data-section-title width="100%" height="100%">
                            <a href="#settings">Settings</a>
                        </p>
                        <div class="content" data-slug="settings" data-section-content>
                            List of emails to notify on error, separated by commas
                            <label for="email_settings_textarea">eg: eric.carmichael@tivix.com, francis@tivix.com</label>
                            <textarea id="email_settings_textarea" name="email_settings_textarea" style="resize:vertical;">{{ alert_emails }}</textarea>
                            <input id="email_settings_submit_button" type="submit" class="button" value="Save">

                            <div id="email_settings_submit_status"></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    $(function () {
        $("#email_settings_submit_button").click(function(){
            $.post("{% url "health_status_email_settings" %}", {"emails": $("#email_settings_textarea").val()})
                .success(function() {
                    $("#email_settings_submit_status").html("<p style='color: #258033;'>Emails saved successfully!</p>");
                })
                .error(function() {
                    alert("Couldn't save emails, something went wrong");
                });
        });

        $('.meter').each(function() {
            var gauge = new Gauge(this).setOptions({
                colorStart: '#ffffff',   // Colors
                colorStop: '#8FC0DA',    // just experiment with them
                strokeColor: '#E0E0E0',  // to see which ones work best for you
                generateGradient: false,
                percentColors: [
                    [ 0.0, "#5CB85C" ],
                    [ 0.40, "#5CB85C" ],
                    //[ 0.41, "#ccc" ],
                    [ 0.5, "#5BC0DE" ],
                    [ 0.8, "#F0AD4E" ],
                    [ 1.0, "#D9534F" ]
                ]
            });
            gauge.maxValue = $(this).attr('data-max');
            gauge.set(parseFloat($(this).attr('data-value')));
        });

        /*var gauge = $("#jobs_pending_count").gauge();
        gauge.maxValue = 100;
        console.log(gauge);
        gauge.set({{ jobs_pending_count }});

        var avg_job_length_gauge = $("#average_job_length").gauge();
        avg_job_length_gauge.maxValue = 100;
        avg_job_length_gauge.set({{ jobs_finished_in_last_2_days_avg }});*/
    });
{% endblock %}
{% block extra_scripts %}
    <script src="{{ STATIC_URL }}js/vendor/gauge.min.js"></script>
{% endblock %}
