{% extends "base.html" %}

{% block head_title %}Health Status{% endblock head_title %}
{% block page_title %}Health Status{% endblock page_title %}

{% block content %}
    <div class="row">
        <p class="title" data-section-title width="100%" height="100%">
            <h1><a href="#health">Health</a></h1>
        </p>
        <div class="content" data-slug="health" data-section-content>
            <div class="row">
                <div class="col-sm-4">
                    <canvas class="meter" data-value="{{ jobs_pending_count }}" data-max="500"></canvas>
                    <p>Jobs pending: {{ jobs_pending_count }}</p>

                    <canvas class="meter" data-value="{{ jobs_finished_in_last_2_days_avg }}" data-max="600"></canvas>
                    <p>Average job length: {{ jobs_finished_in_last_2_days_avg }}s</p>
                </div>

                <div class="col-sm-offset-1 col-sm-7" style="text-align: left;">
                    <br><br>

                    <b>Most recent failed jobs:</b>
                    <ol>
                        {% for job in jobs_failed %}
                            <li>{{ job }}</li>
                        {% empty %}
                            <li><i>None</i></li>
                        {% endfor %}
                    </ol>

                    <br><br>

                    <b>Jobs lasting longer than 10 minutes:</b>
                    <ol>
                        {% for job in jobs_lasting_longer_than_10_minutes %}
                            <li>{{ job }}</li>
                        {% empty %}
                            <li><i>None</i></li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
        <p class="title" data-section-title width="100%" height="100%">
            <h1><a href="#settings">Settings</a></h1>
        </p>
        <div class="content" data-slug="settings" data-section-content>
            Stuck job threshold<br>
            <input id="alert_threshold" name="alert_threshold" value="{{ alert_threshold }}">

            <br><br>

            List of emails to notify on error, separated by commas<br>
            <label for="email_settings_textarea">eg: eric.carmichael@tivix.com, francis@tivix.com</label><br>
            <textarea id="email_settings_textarea" name="email_settings_textarea" style="resize:vertical; display: block;">{{ alert_emails }}</textarea><br>
            <input id="email_settings_submit_button" type="submit" class="button" value="Save">

            <div id="email_settings_submit_status"></div>
        </div>

    </div>
{% endblock %}

{% block js %}
    $(function () {
        $("#email_settings_submit_button").click(function(){
            $.post("{% url "health_status_email_settings" %}", {"alert_threshold": $("#alert_threshold").val(), "emails": $("#email_settings_textarea").val()})
                .success(function() {
                    $("#email_settings_submit_status").html("<p style='color: #258033;'>Settings saved successfully!</p>");
                })
                .error(function() {
                    alert("Couldn't save settings, something went wrong");
                });
        });

        $('.meter').each(function() {
            var gauge = new Gauge(this).setOptions({
                colorStart: '#ffffff',   // Colors
                colorStop: '#8FC0DA',    // just experiment with them
                strokeColor: '#E0E0E0',  // to see which ones work best for you
                generateGradient: false,
                percentColors: [
                    [ 0.0, "#5CB85C" ],
                    [ 0.40, "#5CB85C" ],
                    //[ 0.41, "#ccc" ],
                    [ 0.5, "#5BC0DE" ],
                    [ 0.8, "#F0AD4E" ],
                    [ 1.0, "#D9534F" ]
                ]
            });
            gauge.maxValue = $(this).attr('data-max');
            gauge.set(parseFloat($(this).attr('data-value')));
        });
    });
{% endblock %}
{% block extra_scripts %}
    <script src="{{ STATIC_URL }}js/vendor/gauge.min.js"></script>
{% endblock %}
