{% extends "base.html" %}

{% load humanize %}

{% block head_title %}Health Status{% endblock head_title %}
{% block page_title %}Health Status{% endblock page_title %}

{% block content %}
    <table class="table table-responsive">
    <thead>
    <tr>
        <th>ID</th>
        <th>Competition</th>
        <th>Participant</th>
        <th>Filename</th>
        <th>Submitted</th>
        <th>Status</th>
        <th>Queue</th>
        <th>Hostname</th>
        <th>Run time</th>
    </tr>
    </thead>
    <tbody>
    {% for sub in submissions %}
    <tr>
        <td>{{ sub.id }}</td>
        <td>
            <a href="{% url "competitions:view" pk=sub.phase.competition.pk %}">
                {{ sub.phase.competition }}
            </a>
        </td>
        <td>{{ sub.participant.user.username }}</td>
        <td>
            {% if sub.get_filename %}
                {{ sub.get_filename }}
            {% endif %}
        </td>
        <td>{{ sub.submitted_at|timesince }} ago</td>
        <td>{{ sub.status }}</td>
        <td>
            {% if sub.submission.queue_name %}
                {{ sub.submission.queue_name }}
            {% else %}
                N/A
            {% endif %}
        </td>
        <td>{{ sub.metadatas.first.hostname }}</td>
        <td>{{ sub.run_time|default_if_none:'' }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
