{% extends "base.html" %}

{% load humanize %}

{% block head_title %}Worker List{% endblock head_title %}
{% block page_title %}<h1>Worker List</h1>{% endblock page_title %}

{% block extra_headers %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/Chart.min.css">
{% endblock extra_headers %}

{% block content %}
    <table class="table table-responsive">
        <thead>
            <th width="175">Timespan</th>
            <th>Number of Workers in services (running ready to accept jobs)</th>
            <th>Arrival Rate (number of jobs submitted)</th>
            <th>Service Rate (number of jobs processed)</th>
            <th>Number of submission (or job) in queue (waiting)</th>
            <th>Average job (h) Execution time</th>
            <th>Average job (h) Waiting time</th>
            <th>Servers that were used</th>
            <th>Servers online</th>
        </thead>
        <tbody>
        {% for timeframe, data in stats.items %}
        <tr>
            <td>{{ timeframe }}</td>
            <td>N/A</td>
            <td>{{ data.arrived }}</td>
            <td>{{ data.serviced }}</td>
            <td>{{ data.queued }}</td>
            <td>{{ data.average_execution_time }}</td>
            <td>{{ data.average_queued_time }}</td>
            <td>{{ data.workers_doing_jobs }}</td>
            <td>{{ data.workers_active }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="table table-responsive">
        <thead>
            <th>IP</th>
            <th>CPUs</th>
            <th>Mem (MB)</th>
            <th>HDD (GB)</th>
            <th>GPUs</th>
            <th>Queue</th>
            <th>Current Task</th>
        </thead>
        <tbody>
        {% for w in workers %}
        <tr>
            <td>{{ w.ip }}</td>
            <td>{{ w.cpu_count }}</td>
            <td>{{ w.mem_mb }}</td>
            <td>{{ w.harddrive_gb }}</td>
            <td>{{ w.gpus }}</td>
            <td>{{ w.queue|default_if_none:"Default" }}</td>
            <td>
                {% for t in w.current_tasks %}
                    {{ t.submission.id }}
                    {% if t.submission.is_scoring %}
                        scoring
                    {% else %}
                        prediction
                    {% endif %}
                {% endfor %}

                {% if w.current_tasks|length > 1 %}
                    <span class="warning">WORKER RUNNING MULTIPLE JOBS CONCURRENTLY!</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
