{% extends 'base.html' %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="row">
            <div class="col-sm-10">
                <h1 class="page-header text-center">CodaLab Newsletters</h1>
            </div>
            <div class="col-sm-2">
                <a href="{% url 'newsletter:create_newsletter' %}">
                    <button type="button" class="btn btn-success">Create Newsletter</button>
                </a>
            </div>
        </div>
        <div class="table-responsive table-hover">
            <table class="table">
                <thead>
                <th>Subject</th>
                <th>Status</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Edit</th>
                <th>Delete</th>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td><a href="{% url 'newsletter:newsletter_detail' pk=item.pk %}">{{ item.subject }}</a></td>
                        <td>{{ item.status }}</td>
                        <td>{{ item.created }}</td>
                        <td>{{ item.updated }}</td>
                        <td><a href="{% url 'newsletter:edit_newsletter' pk=item.pk %}">Edit</a></td>
                        <td><a href="{% url 'newsletter:delete_newsletter' pk=item.pk %}">Delete</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% include 'newsletter/pagination.html' %}
    </div>
{% endblock %}
