{% extends 'base.html' %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="page-header">
            <h1>{{ newsletter.subject }}</h1>
        </div>
        {{ newsletter.body }}
        <div class="col-sm-8 col-sm-offset-4">
            <div class="col-sm-2"><a href="{% url 'newsletter:edit_newsletter' pk=newsletter.pk %}">
                <button class="btn btn-info">Edit Newsletter</button>
            </a>
            </div>
            <div class="col-sm-2"><a href="{% url 'newsletter:create_newsletter' %}">
                <button class="btn btn-danger">Delete Newsletter</button>
            </a>
            </div>
            <div class="col-sm-2"><a href="{% url 'newsletter:create_newsletter' %}">
                <button class="btn btn-success">Create Newsletter</button>
            </a>
            </div>
        </div>
    </div>
{% endblock %}
