{% if items.has_other_pages %}
<div class="col-6 offset-3 text-center pagination-set">
    <nav aria-label="">
        <ul class="pagination">
            {% if items.has_previous %}
                <li class="page-item"><a href="?page={{ items.previous_page_number }}" class="page-link"><<</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a href="#" class="page-link"><span><<</span></a>
                </li>
            {% endif %}
            {% for i in page_range %}
                {% if items.number == i %}
                    <li class="page-item active">
                        <a href="#" class="page-link">{{ i }}</a>
                    </li>
                {% else %}
                    <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if items.has_next %}
                <li class="page-item">
                    <a href="?page={{ items.next_page_number }}" aria-label='Next' class="page-link">>></a>
                </li>
            {% else %}
                <li class="page-item disabled"><a href="" class="page-link"><span>>></span></a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}
