{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Codalab - {% block title %}{% endblock %}</title>
    <link href="{% static "site/Images/favicon.ico" %}" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <script src="{% url 'js_reverse' %}" type="text/javascript"></script>
    {% include "web/includes/jquery.html" %}
    {% include "web/includes/jqueryui.html" %}
    <link rel="stylesheet" type="text/css" href="{% static "site/css/Main.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "lib/jq/ui/themes/base/jquery.ui.datepicker.css" %}" />
    {% include "web/includes/modernizr.html" %}
    <script src="{% static "site/js/AjaxRequest.js" %}"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="bodyWraper">
        <header>
            <div class="headerContent">
                <div class="container">
                    <div class="logo"></div>
                    
                    <div class="loginArea">
                        <section id="login">
			  <ul>
			  {% if user.is_authenticated %}
				<li><a href="{% url 'account_logout' %}">Log Off</a></li>
			  {% else %}
				<li><a href="{% url 'account_login' %}">Login</a></li>
				<li><a href="{% url 'account_signup' %}">Register</a></li>
			  {% endif %}
                           </ul>
                        </section>
                  
                    </div>
                </div>
                <div class="navContainer">
                    <nav>
                        <ul class="headerNavigation">
                            <li id="liHome" class="active"><a href="{% url 'home' %}">Home</a></li>
                            <li id="liWorksheets"><a href="{% url 'worksheets' %}">Worksheets</a></li>
                            <li id="liCompetition"><a href="{% url 'competitions' %}">Competitons</a></li>
                            <li id="liBundle"><a href="{% url 'bundle' %}">Bundles</a></li>
                            <li id="liMycodeLab"><a href="{% url 'my_codalab' %}">My Codalab</a></li>
                            <li id="liAbout"><a href="{% url 'about' %}">About</a></li>
                        </ul>
                    </nav>
                    <div class="searchArea">
                        <div class="searchBar">
                            <input type="text" />
                            <input type="button" />
                        </div>
                    </div>
                    <div class="clearFix"></div>
                </div>
            </div>
        </header>
        <div id="body">
            {# @RenderSection("featured", required: false) #}
            <section class="bodyContainer">
                {% block body %} {% endblock %}
            </section>
        </div>
         
      
<!--       <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; 2013 </p>
                </div>
            </div>  
      </footer> -->
      
      
    </div>
    <div class="uploadpopup">
        <div class="uploadpopupBlock">
            <div class="uploadpopupcontainer">
                <h3>Upload Your File</h3>
                <div class="containerSpace">
                    <input type="file" />
                </div>
                <div class="containerSpace">
                    <a class="button2Small rFloat">OK</a>
                    <a class="button3Small rFloat">CANCEL</a>
                </div>
            </div>
        </div>
    </div>
   
</body>
</html>
