{% extends 'base.html' %}

{% block content %}

    <h2>{{ title }}</h2>

    <ul>
        <li><a href="http://0.0.0.0:{{ rabbit_port }}">RabbitMQ</a><p>This page allows admins to view connections, queued messages, message rates, channels, exchanges, and other administrative features relating to rabbitmq e.g creating users, adding v-hosts, and creating policies.</p></li>
        <hr />
        <li><a href="http://0.0.0.0:{{ flower_port }}">Flower</a><p> Flower is a powerful web based Celery monitoring tool designed to keep track of our tasks. Admins may view the state of which tasks were run, with what arguments, and many more features. Here you may also view which queues your celery workers are consuming, and the state of any tasks in them. At last, there is also a great monitoring page for viewing the systemic impact of your workers.</p></li>
        <hr />
    </ul>

{% endblock %}