{% load i18n %}
{% extends 'base.html' %}
{% load staticfiles %}
{% load tz %}
{% block head_title %}{% trans 'Competition'%}{% endblock %}
{% block page_title %}{% trans 'Competition'%}{% endblock page_title %}

{% block content %}

<div class="competition-view">
    <div class="row">
        <div class="col-lg-12">
            <h1>{% blocktrans %}Details for {{ object }}{% endblocktrans %}</h1>

            <h3><i>{% trans 'Details are currently hidden'%}</i></h3>
            {# Hidden for now #}
{#            <table class="table table-striped account">#}
{#                <tbody>#}
{#                    {% for key, value in information.items %}#}
{#                    <tr>#}
{#                        <td width="170px"><b>{{ key }}</b></td>#}
{#                        <td>{{ value|default_if_none:"" }}</td>#}
{#                    </tr>#}
{#                    {% endfor %}#}
{#                </tbody>#}
{#            </table>#}
        </div>
    </div>
</div>
{% endblock content %}
