.alt-bullet {
    list-style-type:none;
    li {
        position:relative;
        &:before {
            content:'\00BB';
            position:absolute;
            font-size: 1.25em;
            left: -.95em;
            top: -.25em;
        }
    }
}
.pad-top {
    padding-top:24px;
}
.pad-bottom {
    padding-bottom:24px;
}
.hidden {
    .hide;
}
.cl-tile {
    .clearfix;
    margin-bottom: 20px;
    padding: 10px 15px;
    border: 1px #CCC solid;
    border-left: 10px #739CB9 solid;
    background: #FFF;
    .box-shadow(0 0 5px fadeout(black, 85%));
}

// Search Bar
.ws-search {
   margin:30px 0 20px;
   height:auto;
   &:focus {
      background:white;
   }
}

.worksheet-icon {
    text-indent: 75px;
    background: url('../img/icon_worksheet.png') no-repeat 0 10px;
    line-height: 65px;
}