.navbar.navbar-default.navbar-fixed-top  {
    border-width:0 0 2px 0;
    .box-shadow(0 2px 8px @gray-dark);
    .navbar-header {
        .navbar-brand {
            line-height:@navbar-height - 10;
            img {
                width: 135px;
            }
        }
    }
    .navbar-nav {
        > li {
            border-top: 4px solid transparent;
            &.active {
                border-color:@blue;
            }
            > a {
                line-height:@navbar-height - 4; // account for top border on parent
                &:active, &:focus {
                    outline:none;
                }
            }
        }
    }
    .mini-avatar {
        width:36px;
        border:1px solid @gray-light;
        border-radius:50%;
        margin-top:-3px;
    }
}
.dropdown-menu .divider {
    margin:5px 0 4px;
}

@media (max-width: @grid-float-breakpoint) {
    .navbar.navbar-default.navbar-fixed-top {
        .navbar-nav > li > a {
            line-height: inherit;
            padding-bottom:5px;
        }
        .mini-avatar {
            .hide;
        }
    }
}