$background: #739CB9;
$foreground: white;
$banner: #F5F5F5;
$highlight: #739CB9;
$active: #676278;
$gray: #666;
$light-gray: #ccc;
$light-medium-gray: #a4a4a4;
$medium-light-gray: #999;
$dark-gray: #333;
$light-background-blue:#eff2f9;
$link-color: #676278;
$background-gray:#f8f8f8;
$white:#fff;
$text-color-gray:#3b3b3b;

$primary-color: $background;

$body-font-color: $gray;
$header-font-color: $gray;

$topbar-bg: $background;
$topbar-fg: $foreground;
$topbar-margin-bottom: 0px;
$topbar-title-weight: normal;
$topbar-title-font-size: xx-large;
$topbar-link-weight: normal;
$topbar-link-font-size: 100%;
$topbar-link-hover-lightness: -30%;
$topbar-link-bg-active: $active;

$anchor-font-color: $link-color;
$anchor-font-color-hover: $background;
$anchor-font-color-active: $active;

$inline-list-bottom-margin: 0;

$panel-margin-bottom: 0px;
$panel-padding-bottom: 0px;

$primary-button-color: #676278;
$button-font-color: $foreground;

$section-title-color: $highlight;
$section-title-color-active: $gray;
$section-title-bg-hover: none;

$tooltip-bg: $background;
$tooltip-close-font-color: $foreground;
$has-tip-border-bottom: 0px;
$has-tip-border-bottom-hover: 0px;
$has-tip-cursor-type: none;

$side-nav-list-margin: 0px;
$side-nav-link-color: $background;
$side-nav-link-color-active: $active;
$side-nav-link-color-hover: $active;
$side-nav-font-size: 15px;
$purple-gray:#7a768b;

@mixin linkStyle {
	color:$link-color !important;
	font-size:15px !important;
}

@mixin paragraph-Style {
	color:$text-color-gray;
	font-size:13px;
	line-height:22px;
}

@mixin textbox-style {
	box-shadow:inset 0 0 8px #ccc;
	border-radius:5px;
}

*{
    font-family: 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:   100%;
	font-weight: normal;
}

select {
	color: $dark-gray;
}

form textarea {
	color: $dark-gray;
	font-size: 16px;
}

.menu-icon {
	background: $background;
}

.menu-icon > span, .menu-icon > span a, .menu-icon > span a:hover {
	border-bottom-style: none;
	border: 0px;
	padding: 2px;
}

div.large-12 div.row div.small-12 div.panel p {
	font-size: .9em;
}

span.has-tip {
	border-bottom: 0px;
}

html.js body.body div#layout.container div.large-12 div.row div.large-10 div.section-container section.active div.content div.row div.large-3 {
	padding-top: 13px;
}

div.competition-tile article.subContainer div.articleTextArea div.small-10 button.globalYellowButtonSmall a {
	color: $foreground;
}

nav.top-bar section.top-bar-section ul.right {
	color: $foreground;
	background: $background;
	vertical-align: text-bottom;
}

div.CompetitionsDetailContainer div.section-container section:not(.active) p a:hover {
 	color: $active;
}

div.CompetitionsDetailContainer div.section-container section.active div.content div.section-container section p.title {
	background: transparent;
}

div.CompetitionsDetailContainer div.section-container section.active div.content div.section-container section.active div.content {
	border: 0px;
}

div.CompetitionsDetailContainer div.section-container section.active div.content div.section-container section p.title a {
	padding: 2px;
	text-align: right;
	border: 0px;
}

div.CompetitionsDetailContainer div.section-container section.active div.content div.section-container section p {
	border: 0px;
}

div.CompetitionsDetailContainer div.section-container section.active div.content div.section-container div.content {
	margin-left: 10px;
	font-size: 13px;
}

div.CompetitionsDetailContainer div.section-container section.active div.content div.section-container div.content ul {
	list-style: disc;
	margin-left: 20px;
}

div.CompetitionsDetailContainer div.section-container section.active div.content div.section-container section.active div.content em {
	font-size: 13px;
}

#layout.container div.large-12 div.row div div.large-3 ul {
	text-align: right;
}

#layout.container div.large-12 div.row div div.large-3 ul a:hover {
	color: $active;
}

#layout.container div.large-12 div.row div.large-9 {
	font-size: 13px;
}

#layout.container div.large-12 div.row div div.large-3 ul {
	padding: 0px;
}

td > i, td > a > i {
	color: $background;
}

a > i {
	height: 100%;
	color: $foreground;
}

.competitionsDetailTabArea > section > .title {
    font-size: 19px;
    font-weight: 400;
}

.competitionsDetailTabArea > section > .title a:hover {
	color: $active;
}

.process_participant_request {
	padding-top: 10px;
}

.competitionUserBlock
{
    border:solid 1px #ccc;
    margin-bottom:10px;
    position:relative;
    padding:0;
}

.user_results, .competition_results {
	padding-top: 10px;
}

.globalBlueButton a, .globalBlueButton a:hover {
	color: $foreground;
}

.content > h3 {
	font-size: 14px;
	font-weight: 700;
}

.content > p {
	font-size: 13px;
}

.section-container.vertical-tabs > section > .content {
	border: 0px;
	color: #3b3b3b;
}

.competitionProcessHeader > ul > li {
	height: 100%;
}

.competitionProcessHeader > ul > li > a {
	color: $foreground;
	font-size: 13px;
	padding-left: 40px;
	padding-right: 40px;
}

.competition-preview {
	border: 1px solid $light-gray;
	margin-top: 5px;
	margin-bottom: 5px;
}

.competition-summary {
	background: #fafafa;
	height: 100px;
	overflow: hidden;
}

.competition-preview > .columns > .button.small {
	vertical-align: middle;
	margin-bottom: 5px;
	margin-top: 5px;
	text-align: center;
	background: $active;
	border-color: $active;
}

.competition-summary > .columns {
	margin: 0px;
	padding: 0px;
}

.competition-label {
	height: 100px;
	background: $background;
	color: $foreground;
	padding-right: 0px;
	padding-left: 0px;
}

.competition-image {
	padding: 0px;
	margin: 0px;
	height: 100px;
	vertical-align: middle;
}

.competition-info .columns {
	padding: 0px;
	margin: 0px;
}

.competition-title {
	color: $dark-gray;
	text-align: left;
	font-size:15px;
}

.large-12 > .competition-label {
	margin: 0px;
	padding: 0px;
	width: 30px;
}

.competition-description, .competition-owner {
	font-size: small;
	color:$medium-light-gray;
}

.slider {
	color: $foreground;
   	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 3.5em;
	font-weight: 100;
	position: relative;
	text-align: center;
	background: #D0D0D0;
	padding-top: 70px;
	margin: 0 auto;
	width: 100%;
	min-height: 200px;
	vertical-align: middle;
}

.subheader {
    height: auto;
    padding-bottom: 10px;
}

#footer, #footer a, #footer a:hover {
	font-size: small;
	background: $background;
	color: $foreground;
}

.topbar-title {
	font-size: x-large;
	font-weight: light;
}

.header{
	position:fixed;
	left:0;
	width:100%;
	top:0;
	z-index:1000;
}

.container {
	padding-top:45px;
	padding-bottom:20px;
}

p.competition-paragraph {
	font-size:11px;
	color:$gray;
	line-height:15px;
	margin-bottom:0;
}

.competition-info {
	height:90px;
	overflow:hidden;
	padding-top:5px;
}

.competition-image > img {
	height:90px;
	margin-top:5px;
}

.competition-preview.panel {
	background:#fafafa;
}

.competition-tile {
	margin-bottom:10px;
}

.competition-tile h3 {
	font-size:16px;
	color:$dark-gray;
}

.articleHeadingContainer h3 {
	margin:0;
	line-height:100%;
}

.articleHeadingContainer label {
	color:$light-medium-gray;
	margin-top:4px;
	margin-bottom:14px;
	font-size:12px;
}

.signin-centered-container {
	margin:auto !important;
	float:none !important;
	background:$light-background-blue;
	padding:25px;
}

.small-6.pull-6.columns > .globalBlueButton {
	float:right
}

.signin-formfields p:nth-child(3) > input {
	float:left;
	position:relative;
	top:-20px;
}

.signin-formfields p:nth-child(3) > label {
	padding-left:20px;
}

.globalBlueButton, .globalBlueButtonBig, .globalBlueButtonInput, .globalBlueButtonAtag > a, .globalBlueButtonSmallAtag > a, .globalBlueButtonSmall, .globalBlueButtonSmallFlexi, .buttonAccept {
	box-shadow:none;
	white-space:nowrap;
	a {
		&:focus{color:$white !important}
	}
}

.signin-centered-container > p > a {
	display:inline-block;
}

ul.side-nav {
	 padding-top:0;
	 position:fixed;
	 li {
		margin-bottom:2px;
	 }
	 li a {
		@include linkStyle;
		&:hover{color:$active}
		&:active{background:none}
	  }
	li.active a {
		color:$gray !important;
		border-left: #676278 4px solid;
		text-indent: 10px;
	}
} 

.glossary-page-container, competitions-block-Styling {
	h6 { 
		font-size:18px; 
		color:$gray;
		}

	p { 
		font-size:14px; 
		color:$gray;
		}

	ol { 
		font-size:14px; color:$gray;

		li {
			padding-bottom:10px;
			list-style-type:disc;
		}
	}

	ul { 
		font-size:14px; 
		color:$gray;
		margin-left:20px;

		li{
			padding-bottom:10px;
			list-style-type:disc;
		}
	}

	pre {
		padding:10px;
		background:$banner;
		margin-bottom:15px;
		}

	p a {
		color:$link-color;
		}

	b {
		color:$gray;
	}
}

div.auto.section-container > section > .title, .auto.section-container > .section > .title{
		a{
		background:$white;
		padding-left:40px !important;
		padding-right:40px !important;
		font-size:19px;
		height:57px;
		}
}

.auto.section-container > section > .content, .auto.section-container > .section > .content, .vertical-tabs.section-container > section > .content, .vertical-tabs.section-container > .section > .content {
	background:$background-gray !important;
}

.auto.section-container > section.active > .title {
	border-bottom:solid 1px $background-gray !important;
	a {
		background:$background-gray !important;
	}
}

.section-container.vertical-tabs {
	 .content{
			padding-top:1px !important;
			@extend competitions-block-Styling;
				p {
					@include paragraph-Style;
				}
			}
	
	.CompetitionsDetailLftUl {
		margin-bottom:2px;

		p a {
			@include linkStyle;
			&:hover{color:$active !important;}
			&:active{background:none !important;}
		}
	}

	.active p a {
			color:$gray !important;
			font-weight:bold;
	}
}

.participateInfoBlock p {
	@include paragraph-Style;
}

.deny_reason {
	@include textbox-style;
}

div.pending-approval-select.columns {
	padding-left:0.93em;
}
.competitionUserBlock {
	 h3 {
		color:$highlight;
		margin-bottom:2px;
	 }
}

.glossary-page-container {
       .fixed {
              left:auto;
              top:auto;
              margin-left:0;
              a {
                     display:inline-block
              }
       }
       h6 { 
              font-size:16px; 
              color:$purple-gray;
              margin-bottom:0px;
              }
  
       p { 
              font-size:15px; 
              color:$purple-gray;
              padding-bottom:14px;
              
              }
  
       ol { 
              font-size:13px; color:$gray;
  
              li {
                     padding-bottom:10px;
                     list-style-type:disc;
              }
       }
  
       ul { 
              font-size:15px; 
              color:$purple-gray;
              margin-left:20px;
  
              li{
                     padding-bottom:10px;
                     list-style-type:none;
                     b { 
                           color:$purple-gray;
                     }
              }
       }
  
       pre {
              padding:10px;
              background:$banner;
              margin-bottom:15px;
              }
  
       p a {
              color:$link-color
              }
  
       b {
              color:$gray
       }
  }
  
.hide
{
	display:none !important;
}