{% extends "forums/base_forum.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}
    {% if forum.threads.all %}
    <table class="table">
        <thead>
            <tr>
                <td width="500px">
                    {% trans 'Title' %}
                </td>
                <td>
                    {% trans 'Started by' %}
                </td>
                <td>
                    {% trans 'Date created' %}
                </td>
                <td>
                    {% trans 'Latest post' %}
                </td>
                <td>
                    {% trans 'Posts' %}
                </td>
            </tr>
        </thead>
        <tbody>
            {% for thread in forum.threads.all %}
                <tr>
                    <td><a href="{% url 'forum_thread_detail' forum_pk=forum.pk thread_pk=thread.pk %}">{{ thread.title }}</a></td>
                    <td>{{ thread.started_by }}</td>
                    <td>{{ thread.date_created|date:"M d, Y" }}</td>
                    <td>{{ thread.last_post_date|timesince }}</td> {# date:"g:iA M d" #}
                    <td>{{ thread.posts.count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <i>{% trans 'No topics started yet,' %} <a href="{% url 'forum_new_thread' forum_pk=forum.pk %}">{% trans 'start one now' %}</a>!</i>
    {% endif %}
{% endblock %}
