{% load static %}

{% if not participations %}
<p>You are not participating in any competitions.</p>
{% else %}
{% for participation in participations %}
<div class="competition-tile">
    <a href="/competitions/{{participation.competition.pk}}">
        <article class="subContainer">
            <input id="competitionID" type="hidden" value="{{ participation.competition.pk }}" />
            <div class="competitionTileLftStrip"></div>
            <div class="articleImageContainer">
                <div class="subContainerPadding">
                    {% if participation.competition.image_url = None %}
                    <img src="{% static "img/ProfileImageDummy.jpg" %}">
                    {% else %}
                    <img src="{{ participation.competition.image_url }}">
                    {% endif %}
                </div>
            </div>
            <div class="articleTextArea">
                <div class="subContainerPadding">
                    <div class="articleHeadingContainer">
                        <h3>{{ participation.competition.title }}</h3>
                        <label>Organized by {{ participation.competition.creator }}</label>
                    </div>
                    <div class="competition-paragraph">
                    {{ participation.competition.description|safe }}
                    </div>
                </div>
            </div>
        </article>
    </a>
</div>
{% endfor %}
{% endif %}
