{% load static %}
{% if not participations %}
    <p><em>You are not participating in any competitions.</em></p>
{% else %}
    {% for participation in participations %}
        <div class="competition-tile">
            <div class="row">
                <input id="competitionID" type="hidden" value="{{ participation.competition.pk }}" />
                <div class="col-sm-3 col-md-2">
                    <div class="img-container">
                        {% if participation.competition.image_url = None %}
                            <img src="{% static "img/ProfileImageDummy.jpg" %}" class="img-responsive">
                        {% else %}
                            <img src="{{ participation.competition.image_url }}" class="img-responsive">
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-9 col-md-10">
                    <h3>{{ participation.competition.title }}</h3>
                    <p class="organizer">Organized by {{ participation.competition.creator }}</p>
                    <p>{{ participation.competition.description|safe }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
