{% if not competitions %}
  <p>You do not manage any competitions.</p>
{% else %}
  {% for item in competitions %}
    <div class="competition-tile">
      <article class="subContainer">
        <input id="competitionID" type="hidden" value="{{ item.pk }}" />
        <div class="competitionTileLftStrip"></div>
        <div class="articleTextArea">
          <div class="articleTextAreaContainer">
            <div class="articleImageContainer">
              <div class="subContainerPadding">
                <img src="{{ item.image_url }}" width="100px">
              </div>
            </div>
            
            <div class="subContainerPadding">
              <div class="articleHeadingContainer">
                <h3>{{ item.title }}</h3>
                <label>{{ item.creator }}</label>
              </div>
              <p>{{ item.description }}</p>
            </div>
          </div>
          <div class="small-10 small-centered columns">
            <button class="secondary button" onclick='deleteCompetition({{item.pk}})'>Delete</button> 
            <a href="#"><button class="secondary button">Edit</button></a>
            <a href="{% url 'my_competition_participants' competition_id=item.pk %}"><button class="secondary button">Participants</button></a>
         </div>
       </div>
     </article>
    </div>                
  {% endfor %}    
{% endif %}
