{% load static %}

{% if not worksheets %}
  <p>You have not created any worksheets.</p>
{% else %}
  {% for item in worksheets %}
    <div class="competition-tile">
      <article class="subContainer">
        <input id="competitionID" type="hidden" value="{{ item.pk }}" />
        <div class="competitionTileLftStrip"></div>
        <div class="articleTextArea">
          <div class="articleTextAreaContainer">
            <div class="articleImageContainer">
              <div class="subContainerPadding">
                {% if item.image_url = None %}
			    <img src="{% static "img/ProfileImageDummy.jpg" %}">
                {% else %}
			    <img src="{{ item.image_url }}">
                {% endif %}
              </div>
            </div>
            
            <div class="subContainerPadding">
              <div class="articleHeadingContainer">
                <h3>{{ item.title }}</h3>
                <label>Organized by {{ item.creator }}</label>
              </div>
              <p>{{ item.description }}</p>
            </div>
          </div>
          <div class="small-10 small-centered columns cursor-default">
            <button class="globalYellowButtonSmall" onclick='deleteCompetition({{item.pk}})'>Delete</button> 
            <a href="#"><button class="globalYellowButtonSmall">Edit</button></a>
            <a href="{% url 'my_competition_participants' competition_id=item.pk %}"><button class="globalYellowButtonSmall">Participants</button></a>
         </div>
       </div>
     </article>
    </div>                
  {% endfor %}    
{% endif %}
