{% extends 'base.html' %}
{% load staticfiles %}
{% load compress %}
{% block title %}Edit{% endblock %}
{% block extra_head %}
{% compress js %}
<script type="text/typescript" src="{% static 'site/js/FileUpload.ts' %}"></script>
<script type="text/typescript" src="{% static 'site/js/CreateCompetition.ts' %}"></script>
{% endcompress %}
{% endblock %}
{% block body %}

<div class="mainContainer">
        <div class="CompetitionProcessContainer">



	  <form method="POST">
	    {% csrf_token %}
	    <div>
            {{ form.as_p }}
	    
	    </div>
            <div>
              {% for i in inlines %}
	      <div>{{ i.as_p }}</div>
              {% endfor %}
            </div>
	    <input type="hidden" id="CompetitionId" name="competition_id" value="{{ competition.pk }}"/>
	    <input type="hidden" id="Step" name="step" value="{{ competition.step }}"/>
	    <input type="hidden" id="SaveFlag" name="saveflag" value="{{ competition.saveflag }}"/>

	    <div class="CompetitionTypeDetailrowDate detailsUpload">
                    <div class="CompetitionTypeDetailTBL">

                        <div class="CompetitionTypeDetailrow">

                            <div class="thumbnailContainer">
                                <figure class="competitionsProfileImage">
 				   {% if object.image_url %}
                                    <img id="imgProfileImage" src="{{ object.image_url }}" width="133" height="94">
				   {% else %}
				   <img id="imgProfileImage" src="{% static "site/Images/ProfileImageDummy.jpg" %}" width="133" height="94">
				   {% endif %}
                                </figure>
                                <div>
                                    <input id="UploadReason" value ="1" type="hidden" />
                                    <label class="uploadLabel">Change thumbnail</label>
                                    <input class="uploadImage" type="file" id="uploadFile" name="uploadFile">
                                    <span id="imageProcess" class="preloaderInputImg"></span>
                                </div>
                            </div>
                            <div>
                                
				<input id="Title" class="text-box single-line" type="text" value="Untitled" name="Title"/>
                                <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="Title"></span>
                                <div>
				    <textarea id="Description" rows="2" name="Description" cols="20">{{ object.description|default:"" }}</textarea>
				    <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="Description"></span>
                                </div>

                            </div>
                        </div><a class="helpLinkIcon" href="{% url 'help_create_competition' %}#overview"  title="Get help with creating a competition" target="_blank"></a>
                    </div>
               </div>
	    <input type="submit" name="Submit" value="Submit"/>
	  </form>
	</div>
	<div>
	  
	</div>

</div>
{% endblock %}
