{% extends 'base.html' %}
{% block title %}My CodaLab{% endblock %}
{% block extra_headers %}
    <script src="/static/site/js/CompetitionListTs.js"></script>
{% endblock extra_headers %}
{% block subheader %}<H3>My CodaLab</H3>{% endblock subheader %}
{% block site %}
<div class="large-9 large-centered columns">
    <div class="section-container tabs" data-section>
        <section>
            <p class="title" data-section-title><a href="#manage">Competitions I Manage</a></p>
            <div class="content" data-section-content>
                <div id="tabAreaCompetitionIManage"></div>
            </div>
        </section>
        <section>
            <p class="title" data-section-title><a href="#participate">Competitions I Participate In</a></p>
            <div class="content" data-section-content>
                <div id="tabAreaCopetitionIParticipate"></div>
            </div>
        </section>
    </div>
</div>

<div class="competitionTilePreload" id="competitionTilePreload">
    <div class="competitionPreloader"></div>
</div>

{% endblock %}
