{% extends 'base.html' %}
{% block title %}My CodaLab{% endblock %}
{% block content %}
<div class="row">
    <div class="large-9 push-3 columns">
        <div class="section-container auto" data-section data-section-resized>
          <section>
            <p class="title" id="managed" data-section-title>
                <a href="#manage">Competitions I'm Running</a>
            </p>
            <div class="content" data-section-content>
                <div class="my_managed">
                    {% include "web/my/_managed.html" with competitions=my_competitions %}
                </div>
            </div>
          </section>
          <section>
            <p class="title" id="participating" data-section-title>
                <a href="#participate">Competitions I'm Participating In</a>
            </p>
            <div class="content" data-section-content>
                <div class="my_participating">
                    {% include "web/my/_entered.html" with competitions=competitions_im_in %}
                </div>
            </div>
          </section>
        </div>
    </div>
    <!-- Nav Sidebar -->
    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div class="large-3 pull-9 columns">
        <div class="globalBlueButtonAtag">
            <a href="/my/create_competition" class="button">New Competition</a>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
$('document').ready(function() {
    // This helps make sections appear with Foundation
    $(this).foundation('section', 'reflow');
});
{% endblock js %}
