{% extends 'base.html' %}
{% block title %}My CodaLab{% endblock %}
{% block content %}
<div class="row">
    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-9 push-3 columns">
        <div class="section-container auto" data-section data-section-resized data-options="deep_linking:true">
          <section>
            <p class="title" id="managed" data-section-title>
                <a href="#manage">Competitions I'm Running</a>
            </p>
            <div class="content" data-section-content>
                <div class="my_managed">
                    {% include "web/my/_managed.html" with competitions=my_competitions %}
                </div>
            </div>
          </section>
          <section>
            <p class="title" id="participating" data-section-title>
                <a href="#participate">Competitions I'm Participating In</a>
            </p>
            <div class="content" data-section-content>
                <div class="my_participating">
                    <!-- This will fill in from Javascript -->
                </div>
            </div>
          </section>
        </div>
    </div>
    <!-- Nav Sidebar -->
    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div class="large-3 pull-9 columns">
        <a href="/my/create_competition" class="button">New Competition</a>
    </div>
</div>
{% endblock content %}

{% block js %}
$('document').ready(function() {
    // This helps make sections appear with Foundation
    $(this).foundation('section', 'reflow');

    // Ajax load the participating competitions when the section title is clicked
    $('#participating').click(function() {
        console.log("Fetching particpating...");
        $('.my_participating').html('&nbsp;').load('/my/_partials/_competitions_entered');
    });
});
{% endblock js %}
