{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Participants{% endblock %}
{% block extra_head %}
<script src="{% static "foundation/js/vendor/jquery.validate.min.js" %}"></script>
{% endblock %}
{% block subheader %}
<h4>Participants</h4>
{% endblock subheader %}
{% block content %}
<div class="large-12 large-centered columns participants content">
    {% if not object_list %}
    <p>There are no participants.</p>
    {% else %}
    {% for item in object_list %}
    <div class="row">
        <div class="competitionUserBlock competitionUserBlock_{{item.id}}">
            <div class="large-8 push-4 columns process_participant_request">
                {% if item.status.codename == 'pending' %}
                <form class="custom process_request" id="process_request_{{item.id}}">
                    {% csrf_token %}
                    <input type="hidden" name="participant_id" value="{{item.id}}"/> 
                    <div class="row">
                    <div class="small-8 push-4 columns">
                        <label for="reason">Reason:</label>
                        <textarea id="reason" name="reason"></textarea>
                    </div>
                    <div class="small-4 pull-8 columns">
                        <label for="status">Status:</label>
                        <select id="status" name="status">
                            <option value="approved">Approve</option>
                            <option value="denied">Deny</option>
                        </select>
                    </div>
                </div>
                    <input type="submit" class="globalBlueButton" value="Process" />
                </form>
                {% endif %} 
            </div>
            <div class="large-4 pull-8 columns">
                <h3>{{ item.user.username }}</h3>
		<p class="participationStatus">
                {% if item.status.codename == 'pending' %}
                Participation pending approval
                {% elif item.status.codename == 'approved' %}
                Participation approved
                {% elif item.status.codename == 'denied' %}
                Participation rejected
                <p style="color:red;">Reason: {{ item.reason }}</p>
                {% else %}
                Unknown Status
                {% endif %}
		</p>
            </div>
        </div>
    </div>               
    {% endfor %}
    {% endif %}
</div>
{% endblock %}

{% block js %}
/* $("#process_request").validate(); */

var ParticipateStatusText = { 'approved': 'Participation approved',
                              'denied': 'Participation rejected',
                              'pending': 'Participation pending',
                              'unknown': 'Unknown' };
var ParticipationReasonStyle = {'denied': 'color:red',
                                'unknown': '',
                                'pending': '',
                                'approved': '' };

/* attach a submit handler to the form */
$("form").submit(function(event) {

    /* stop form from submitting normally */
    event.preventDefault();

    /* get some values from elements on the page: */
    var values = $(this).serialize();
    var fid = $(this).attr('id');

    /* Send the data using post and put the results in a div */
    request = $.ajax({
        url: "/api/competition/{{competition_id}}/participation_status/",
        type: "post",
        dataType: "json",
        accept: {'json': "application/json" },
        data: values,
        success: function(response, textStatus, jqXHR) {
            $('#'+fid).remove();
            var data = $.parseJSON(response);
         
            var pid = $('div.competitionUserBlock_' + data.participantId + ' p.participationStatus');
           
           
            pid.text(ParticipateStatusText[data.status]);
          
            if(data.reason) {
               var reasontext = '<p style="' + ParticipationReasonStyle[data.status] + ';">Reason: ' + data.reason +'</p>';
             
               pid.append(reasontext);
           }
             
        },
        error: function(jsXHR, textStatus, errorThrown) {
            alert("There was a problem processing this request for this competition.");;
        }
    });
});
{% endblock js %}
