{% extends 'base.html' %}
{% load staticfiles %}
{% load codalab %}
{% load tz %}

{% block page_title %}Participants{% endblock page_title %}
{% block head_title %}Participants{% endblock %}

{% block extra_head %}
<script src="{% static "js/foundation/vendor/jquery.validate.min.js" %}"></script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 large-centered columns participants content">
        {% if not object_list %}
        <p>There are no participants.</p>
        {% else %}
        {% for item in pending_participants %}
        <div class="row">
            <div class="competitionUserBlock competitionUserBlock_{{item.id}}">
                <div class="large-8 push-4 columns process_participant_request">
                    <form class="custom process_request" id="process_request_{{item.id}}">
                        {% csrf_token %}
                        <input type="hidden" name="participant_id" value="{{item.id}}"/>
                        <div class="row">
                        <div class="small-8 push-4 columns">
                            <label for="reason">Reason:</label>
                            <textarea id="reason" name="reason"></textarea>
                        </div>
                        <div class="small-4 pull-8 columns">
                            <label for="status">Status:</label>
                            <select id="status" name="status">
                                <option value="approved">Approve</option>
                                <option value="denied">Deny</option>
                            </select>
                        </div>
                    </div>
                        <input type="submit" class="button" value="Process" />
                    </form>
                </div>
                <div class="large-4 pull-8 columns">
                    <h3>{{ item.user.username }}</h3>
		            <p class="participationStatus">
                        {% if item.status.codename == 'pending' %}
                        Participation pending approval
                        {% elif item.status.codename == 'approved' %}
                        Participation approved
                        {% elif item.status.codename == 'denied' %}
                        Participation denied
                        <p style="color:red;">Reason: {{ item.reason }}</p>
                        {% else %}
                        Unknown Status
                        {% endif %}
		            </p>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="large-12">
            <a href="#" data-reveal-id="myModal" class="button">Send message to all participants?</a>

            <div id="myModal" class="reveal-modal" data-reveal>
                <h2>Email Participants</h2>
                <a class="close-reveal-modal">&#215;</a>

                <form>
                    <input id="subject_input" type="text" placeholder="Subject">

                    <textarea id="message_textarea" placeholder="Message"></textarea>
                </form>

                <a id="direct_message_participants_button" class="button">Send</a>
                <a class="button alert" onclick="$('a.close-reveal-modal').trigger('click');">Cancel</a>
            </div>
        </div>

        <table class="resultsTable dataTable">
            <thead>
                <tr>
                    {% for column in columns %}
                    <th>
                        <a href="?order={{column.name}}{% if direction == 'asc' and order == column.name %}&direction=desc{% endif %}">
                            {{column.label}} <i class="{% if order == column.name %}{% if direction == 'asc'%}fi-arrow-down{% else %}fi-arrow-up{% endif %}{% endif %} right"></i>
                        </a>
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for participant in participant_list %}
                <tr>
                    {% for column in columns %}
                    <td>
                        <span class="column_text">{{ participant|get_item:column.name }}</span>



                        {% if column.label == "STATUS" %}
                            <div class="revoke_button button {% if participant.status == "denied" %}hide{% endif %}" participant_id="{{ participant.pk }}">Revoke</div>

                            <div class="reinstate_button button {% if participant.status == "approved" %}hide{% endif %}" participant_id="{{ participant.pk }}">Reinstate</div>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block js %}
    var participant_status_update = function(status, reason, participant_id) {
        $.post(
            "{% url "competition-participation-status" pk=competition_id %}",
            {
                status: status,
                reason: reason,
                participant_id: participant_id
            })
        .error(function() {
            alert("Error updating privileges");
        })
        .success(function() {
            var reinstate_button = $(".reinstate_button[participant_id='" + participant_id + "']");
            var revoke_button = $(".revoke_button[participant_id='" + participant_id + "']");

            if(status=="denied") {
                revoke_button.addClass('hide');
                reinstate_button.removeClass('hide');
            } else {
                revoke_button.removeClass('hide');
                reinstate_button.addClass('hide');
            }

            reinstate_button.parent().children('.column_text').html(status);
        });
    }

    $(".revoke_button").click(function() {
        if(confirm("Really revoke privileges?")) {
            var status = "denied";
            var reason = "";
            var participant_id = $(this).attr('participant_id');

            participant_status_update(status, reason, participant_id);
        }
    });

    $(".reinstate_button").click(function() {
        if(confirm("Are you sure you want to reinstate this participant?")) {
            var status = "approved";
            var reason = "";
            var participant_id = $(this).attr('participant_id');

            participant_status_update(status, reason, participant_id);
        }
    });


    /* $("#process_request").validate(); */

    var ParticipateStatusText = { 'approved': 'Participation Approved',
                                  'denied': 'Participation Denied',
                                  'pending': 'Participation Pending',
                                  'unknown': 'Unknown' };
    var ParticipationReasonStyle = {'denied': 'color:red',
                                    'unknown': '',
                                    'pending': '',
                                    'approved': '' };

    /* attach a submit handler to the form */
    $("form").submit(function(event) {

        /* stop form from submitting normally */
        event.preventDefault();

        /* get some values from elements on the page: */
        var values = $(this).serialize();
        var fid = $(this).attr('id');

        /* Send the data using post and put the results in a div */
        request = $.ajax({
            url: "/api/competition/{{competition_id}}/participation_status/",
            type: "post",
            dataType: "json",
            accept: {'json': "application/json" },
            data: values,
            success: function(response, textStatus, jqXHR) {
                $('#'+fid).remove();
                var data = $.parseJSON(response);

                var pid = $('div.competitionUserBlock_' + data.participantId + ' p.participationStatus');


                pid.text(ParticipateStatusText[data.status]);

                if(data.reason) {
                   var reasontext = '<p style="' + ParticipationReasonStyle[data.status] + ';">Reason: ' + data.reason +'</p>';

                   pid.append(reasontext);
               }

            },
            error: function(jsXHR, textStatus, errorThrown) {
                alert("There was a problem processing this request for this competition.");;
            }
        });
    });


    // Send email to participants
    $('#direct_message_participants_button').click(function() {
        var subject = $("#subject_input").val();
        var body = $("#message_textarea").val();

        if(subject && body) {
            $('#direct_message_participants_button').text('Sending...').addClass('disabled')

            $.post(
                "{% url 'competitions:competition_message_participants' competition_id=competition_id %}",
                {subject: subject, body: body}
            )
            .error(function() {
                alert("Error sending email");
                $('#direct_message_participants_button').text('Send').removeClass('disabled');
            })
            .success(function() {
                $('a.close-reveal-modal').trigger('click');
                $('#direct_message_participants_button').text('Send').removeClass('disabled');
            });
        } else {
            alert("Please enter a subject and a message!");
        }
    });

{% endblock js %}
