{% extends 'base.html' %}
{% load staticfiles %}
{% load codalab %}
{% load tz %}

{% block page_title %}Settings{% endblock page_title %}
{% block head_title %}Settings{% endblock %}

{% block extra_head %}
{# include extra JS stuff here #}
{% endblock %}

{% block content %}

<style>
    input[type="radio"] {
        margin-left: 20px;
    }
    .inline {
        display: inline;
        margin-left: 10px !important;
    }
</style>

<div class="row">
    <div class="large-12 large-centered columns content">
        <form>
            <div class="row">
                <div class="large-12 columns">
                    <label>Receive updates about your participation status in competitions</label>
                    <input type="radio" name="participation_status_updates" value="true">
                    <label for="pokemonRed" class="inline">Yes</label>

                    <input type="radio" name="participation_status_updates" value="false">
                    <label for="pokemonBlue" class="inline">No</label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>Receive updates about participants in your competitions</label>
                    <input type="radio" name="organizer_status_updates" value="true">
                    <label for="pokemonRed" class="inline">Yes</label>

                    <input type="radio" name="organizer_status_updates" value="false">
                    <label for="pokemonBlue" class="inline">No</label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>Receive messages from competiton organizers</label>
                    <input type="radio" name="organizer_direct_message_updates" value="true">
                    <label for="pokemonRed" class="inline">Yes</label>

                    <input type="radio" name="organizer_direct_message_updates" value="false">
                    <label for="pokemonBlue" class="inline">No</label>
                </div>
            </div>

            <input type="button" class="button" value="Save">
        </form>
    </div>
</div>
{% endblock %}

{% block js %}

{% endblock js %}
