{% extends 'base.html' %}
{% load static %}
{% block head_title %}Search{% endblock head_title %}
{% block page_title %}Search{% endblock page_title %}

{% block content %}
    <form method="get" action=".">
        {% if query %}
            <h3>Results</h3>
            <div class="row">
                <div class="large-10 large-offset-1 columns centered">
                    {% for result in page.object_list %}
                        {% if result.content_type == "web.competition" %}
                            {% include "web/competitions/summary.html" with competition=result.object %}
                        {% endif %}
                    {% empty %}
                        <p>No results found for query: {{ query }}.</p>
                    {% endfor %}
                </div>

                {% if page.has_previous or page.has_next %}
                    <div>
                        {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                        |
                        {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                    </div>
                {% endif %}
            </div>
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}