{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "jq/ui/themes/base/jquery.ui.core.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "jq/ui/themes/base/jquery.ui.resizable.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "jq/ui/themes/base/jquery.ui.selectable.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "jq/ui/themes/base/jquery.ui.accordion.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "jq/ui/themes/base/jquery.ui.autocomplete.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "jq/ui/themes/base/jquery.ui.button.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "jq/ui/themes/base/jquery.ui.dialog.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "jq/ui/themes/base/jquery.ui.slider.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "jq/ui/themes/base/jquery.ui.tabs.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "jq/ui/themes/base/jquery.ui.datepicker.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "jq/ui/themes/base/jquery.ui.progressbar.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "jq/ui/themes/base/jquery.ui.theme.css" %}" />
