[
  {rabbit, [
     {loopback_users, []},

     %% Specify SSL version to stop BEAST attack and POODLE
     {ssl, [{versions, ['tlsv1.2', 'tlsv1.1']}]},
     {ssl_listeners, [5671]},
     {ssl_options, [{certfile, "${SSL_CERTIFICATE}"},
                    {keyfile, "${SSL_CERTIFICATE_KEY}"},
                    {versions, ['tlsv1.2', 'tlsv1.1']},
                    {verify, verify_none},
                    {fail_if_no_peer_cert, false}]}
   ]}
].
