[
  {rabbit, [
     {loopback_users, []},

     %% Specify SSL version to stop BEAST attack and POODLE
     {ssl, [{versions, ['tlsv1.2', 'tlsv1.1']}]},
     {ssl_listeners, [${RABBITMQ_PORT}]},
     {ssl_options, [{cacertfile, "${SSL_CERTIFICATE}"},
                    {certfile, "${SSL_CERTIFICATE}"},
                    {keyfile, "${SSL_CERTIFICATE_KEY}"},
                    {versions, ['tlsv1.2', 'tlsv1.1']},
                    {verify, verify_none},
                    {fail_if_no_peer_cert, false}]}
  ]},
  {rabbitmq_management, [
       {listener, [{port, ${RABBITMQ_MANAGEMENT_PORT}},
                   %%{http_log_dir, "/var/log/rabbitmq"},
                   {ssl, true},
                   {ssl_opts, [{versions, ['tlsv1.2', 'tlsv1.1']},
                               {cacertfile, "${SSL_CERTIFICATE}"},
                               {certfile, "${SSL_CERTIFICATE}"},
                               {keyfile, "${SSL_CERTIFICATE_KEY}"}]}
                  ]}
       ]
  }
].
