
{% load i18n %}
{% load account %}
{% load url from future %}

{% block subheader %}<H4>{% trans "Sign In" %}</h4>{% endblock subheader %}

{% block content %}
	<div class="small-12 columns account_widget">
		{% if socialaccount.providers  %}
			<p>
				{% blocktrans with site.name as site_name %}Please sign in with one
				of your existing third party accounts. Or, <a href="{{ signup_url }} data-reveal-id="signup-modal" data-reveal-ajax="true"">sign up</a> 
				for a {{site_name}} account and sign in below:{% endblocktrans %}
			</p>

			<div class="socialaccount_ballot">
				<ul class="socialaccount_providers">
					{% include "socialaccount/snippets/provider_list.html" %}
				</ul>
				<div class="login-or">{% trans 'or' %}</div>
			</div>
			{% include "socialaccount/snippets/login_extra.html" %}
		{% endif %}

		<form class="login" method="POST" action="{% url 'account_login' %}">
			{% csrf_token %}
			{{ form.as_p }}
			{% if redirect_field_value %}
			<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			{% endif %}
			<div class="row">
				<div class="small-12 columns">
					<button class="button right" type="submit">{% trans "Sign In" %}</button>
				</div>
			</div>
			<div class="row">
				<a data-reveal-id="signup-modal" data-reveal-ajax="true" href="{{signup_url}}">Register</a> &nbsp; if you don't have an account.
			</div>
		</form>
{% endblock %}
</div>
