{% extends "web/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% block title %}{% trans "Log in" %}{% endblock %}

{% block site %}
<div class="loginpageBG">
    <div class="mainContainer">
        <div class="loginAreaBlock">
            <section class="loginImageArea">
                <img src="/static/site/Images/LoginIcon.png" />
            </section>
            <section class="loginContainer">
                <hgroup class="title">
                    <h1>Log in</h1>
                </hgroup>

{% if socialaccount.providers  %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a> 
for a {{site_name}} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% endif %}
<section id="loginForm">
<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {# {{ form.as_p }} #}
  {% include 'account/_login_form.html' %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="globalBlueButtonInput" type="submit">{% trans "Log In" %}</button>
</form>
 </section>
            </section>
        </div>
    </div>
</div>
{% endblock %}

