{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}
{% block subheader %}<h4>{% trans "Sign Out" %}</h4>{% endblock subheader %}

{% block content %}
	<div class="small-3 columns account_widget  signin-centered-container">

		<p>
			{% trans 'Are you sure you want to sign out?' %}
		</p>

		<form method="post" action="{% url 'account_logout' %}">
			{% csrf_token %}
			{% if redirect_field_value %}
				<input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
			{% endif %}
			<button class="globalBlueButton" type="submit">{% trans 'Sign Out' %}</button>
		</form>
	</div>
{% endblock %}
