{% extends 'base_account.html' %}

{% load url from future %}
{% load i18n %}

{% block head_title %}Change Password{% endblock head_title %}
{% block page_title %}Change Password{% endblock page_title %}

{% block content %}
<div class="row">
    {% if token_fail %}
    <div class="large-12 columns">       
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    </div>
    {% else %}
    <div class="large-6 columns">       
        {% if form %}
            <form method="POST" action="" class="uniForm">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="button" name="action" value="{% trans "change password" %}"/>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
            <p><a href="{% url 'account_login' %}">Sign In</a>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}

{% block js %}
$("#id_password1").focus();
{% endblock js %}
