{% extends 'base_account.html' %}

{% load account %}
{% load i18n %}
{% load url from future %}

{% block head_title %}Password Reset{% endblock head_title %}
{% block page_title %}Password Reset{% endblock page_title %}

{% block content %}
{% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
{% endif %}
<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
<div class="row">
    <div class="col-md-6">
        <form method="POST" action="" class="password_reset">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_email">E-mail:</label>
                <input id="id_email" class="form-control" name="email" size="30" type="text">
            </div>
            <input class="btn btn-primary margin-top" type="submit" value="{% trans "Reset My Password" %}" />
        </form>
    </div>
</div>
<p class="pad-top">{% blocktrans %}Please use the Contact Us link at the bottom of the page to get in touch if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
