{% extends 'base_account.html' %}

{% load i18n %}
{% load url from future %}

{% block head_title %}Sign Up{% endblock head_title %}
{% block page_title %}Sign Up{% endblock page_title %}

{% block content %}
<div class="row">
    <div class="col-md-6">
	    <p>
	        {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in.</a>{% endblocktrans %}
	    </p>

	    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
		    {% csrf_token %}

            {% if form.errors %}
                <div class="alert alert-error">
                    {% for field, msg in form.errors.items %}
                        <b>{{ field }}</b> {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="form-group">
                <label for="id_username">Username:</label>
                <input id="id_username" class="form-control" name="username" placeholder="Username" type="text">
            </div>
            <div class="form-group">
                <label for="id_email">E-mail:</label>
                <input id="id_email" class="form-control" name="email" placeholder="E-mail address" type="text">
            </div>
            <div class="form-group">
                <label for="id_password1">Password:</label>
                <input id="id_password1" class="form-control" name="password1" placeholder="Password" type="password">
            </div>
            <div class="form-group">
                <label for="id_password2">Password (again):</label>
                <input id="id_password2" class="form-control" name="password2" placeholder="Password" type="password">
                <input id="id_confirmation_key" name="confirmation_key" type="hidden">
            </div>
            {% if redirect_field_value %}
		      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-primary margin-top" type="submit">{% trans "Sign Up" %}</button>
	    </form>
    </div>
</div>
{% endblock %}
