{% extends "base.html" %}

{% block head_title %}Bundle details{% endblock head_title %}
{% block page_title %}Bundle details{% endblock page_title %}

{% block content %}
<div class="large-9 large-centered columns content">
    <div class="large-12 columns">
        <h2 class="bundle-name bundle-icon"> {{ bundle.metadata.name }} </h2>
        <span class="bundle-status--{{ bundle.state }}"></span>
    </div>
    <div class="large-8 columns">
        <p> {{ bundle.metadata.description }} </p>
    </div>
    <div class="large-4 columns bundle-meta">
        <p><strong>Status:</strong><em> &nbsp; {{ bundle.state }} </em></p>
        <p><strong>Created:</strong><em> &nbsp; {{ bundle.metadata.created }} </em></p>
        <p><strong>Type:</strong><em> &nbsp; {{ bundle.bundle_type }} </em></p>
        <p><strong>Size:</strong><em> &nbsp; {{ bundle.metadata.data_size }} bytes</em></p>
        <a href="#">
        	<button class="med button">Download</button>
        </a>
    </div>
    <div class="large-12 columns">
    	<hr>
        <p class="h-caps">Tags</p>
        <p> {{ bundle.metadata.tags }} </p>
    </div>
    <div class="large-12 columns">
    	<hr>
        <p class="h-caps">Dependencies</p>
        <p> {{ bundle.metadata.hard_dependencies }} </p>
    </div>
</div>
{% endblock %}