{% extends "base.html" %}

{% block head_title %}Bundle details{% endblock head_title %}
{% block page_title %}Bundle details{% endblock page_title %}

{% block content %}
<div id="bundle-message" class="row">
    <div class="large-12 columns">
        <img src="{{ STATIC_URL }}img/Preloader_Small.gif" /> Loading bundle information...
    </div>
</div>
<div id="general_search"></div>
<div id="bundle-content">
</div>

<!-- legacy template -->
<!-- <div id="bundle-template" style="visibility: hidden;">
    <div class="row">
        <div class="large-12 columns">
            <div class="bundle-tile">
                <div class="large-12 columns">
                    <a href="" class="bundle-link"><h4 class="bundle-name bundle-icon-sm bundle-icon-sm-indent"></h4></a>
                    <a href="" class="bundle-download" alt="Download Bundle">
                        <button class="small button secondary"><i class="fi-arrow-down"></i></button>
                    </a>
                    <label class="bundle-uuid"></label><hr>
                </div>
                <div class="bundle-meta-view-container"></div>
                <a href="" class="bundle__expand_button">SHOW BUNDLE CONTENT<img src="/static/img/expand-arrow.png" alt="More"></a>
                <div class="bundle-file-view-container large-12-columns"></div>
            </div>
        </div>
    </div>
</div> -->

{% endblock content %}

{% block js %}
    {# moved below because the script tag is in base making this block not color code in editors #}
{% endblock js %}

{% block jsincludes %}
    <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script src="{{ STATIC_URL }}js/vendor/markdown.min.js"></script>

    {# TODO: remove JSX and move to deploy processing of JSX #}
    <script src="http://fb.me/react-0.11.1.js"></script>
    <script src="http://fb.me/JSXTransformer-0.11.1.js"></script>
    <script type="text/jsx" src="{{ STATIC_URL }}js/bundle/bundle_interface.js"></script>
<script>
MathJax.Hub.Config({
    tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
    }
});


$(function () {
    $(".top-bar-section ul > li").removeClass("active");
    $("#liBundles").addClass("active");
});

/* 
    legacy
*/
// $(document).ready(function() {
//     $.ajax({
//         type: "GET",
//         url: "/api" + document.location.pathname,
//         cache: false,
//         success: function (data) {
//             bundleElement = (new BundleRenderer($("#bundle-template > div").get(0))).render(data);
//             $("#bundle-content").append(bundleElement);
//             $("#bundle-message").hide();
//         },
//         error: function (xhr, status, err) {
//             if (xhr.status == 404) {
//                 $("#bundle-message").html("Bundle was not found.");
//             } else {
//                 $("#bundle-message").html("An error occurred. Please try refreshing the page.");
//             }
//         }
//     });
// });
</script>
{% endblock jsincludes %}
